@using IQMedia.Shared.Utility;
@model IQMedia.WebApplication.Models.DashboardOverviewResults
<div class="clear">
    <div id="divLineChartOptions" class="clear">
        <div class="pull-left">
            <a href="#" onclick="changeTab('2');" class="marginRight-4">
                <img id="imgMultipleLine" src="../../Images/Dashboard/multiple-line-normal.png" alt="" /></a>
            <a href="#" onclick="changeTab('1');">
                <img id="imgSingleLine" src="../../Images/Dashboard/single-line-active.png" alt="" /></a>
        </div>
        <div class="pull-right" id="divDuration">
            <div id="divHourlyDuration" class="floatLeft SearchType leftSideBorderRadius" onclick="ChangeSearchType(0);">
                Hour</div>
            <div id="divDayDuration" class="floatLeft SearchType" onclick="ChangeSearchType(1);">
                Day</div>
            @*<div id="divWeekDuration" class="pull-right SearchType" onclick="ChangeSearchType(2);">
                Week</div>*@
            <div id="divMonthDuration" class="pull-right SearchType rightSideBorderRadius" onclick="ChangeSearchType(3);">
                Month</div>
        </div>
    </div>
    <div class="clear">
        <div style="width: auto; height: 0; overflow: hidden;" id="divLineChartMedia">
        </div>
    </div>
    <div class="clear">
        <div id="divLineChartSubMedia">
        </div>
    </div>
</div>
<h5 class="clearDiv">
    <span id="totalNumOfHits">@Model.TotNumOfHits Total Hits</span>
</h5>
<div style="background-color: #F5F5F5; width: 68%; padding: 2px 0px;" class="pull-left">
    <ul class="ulSubMediaCharts">
        <li class="liSubMediaCharts cursorPointer" id="liTVChart" onclick="GetDataMediumWise('TV');">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            @CommonFunctions.GetEnumDescription(CommonFunctions.DashBoardMediumType.TV)
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfTVDocs" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumTVRecord.ToString("N0")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumTVRecord.ToString("N0")
                                </div>
                                if (Model.SumTVRecord == Model.PrevSumTVRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumTVRecord > Model.PrevSumTVRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up
                                    @if(Model.PrevSumTVRecord != 0)
                                    {
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumTVRecord, Model.SumTVRecord)+"%")
                                    }
                                    (@(Math.Abs(Model.PrevSumTVRecord - Model.SumTVRecord).ToString("N0")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumTVRecord, Model.SumTVRecord))%
                                    (@((Model.PrevSumTVRecord - Model.SumTVRecord).ToString("N0")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumTVRecord.ToString("N0")
                                </div>
                            }
                        </td>
                        <td id="divTVLineChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumTVLineChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumTVRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                </table>
                @*<div id="divTVLineChart" class="pull-left">
                </div>
                <div id="sumTVLineChart" class="clear center">
                </div>*@
            </div>
        </li>
        <li class="liSubMediaCharts cursorPointer" id="liSocialMediaChart" onclick="GetDataMediumWise('SocialMedia');">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            @CommonFunctions.GetEnumDescription(CommonFunctions.DashBoardMediumType.SocialMedia)
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfSocialMediaDocs" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumSocialMRecord.ToString("N0")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumSocialMRecord.ToString("N0")
                                </div>
                                if (Model.SumSocialMRecord == Model.PrevSumSocialMRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumSocialMRecord > Model.PrevSumSocialMRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up 
                                    @if (Model.PrevSumSocialMRecord != 0)
                                    {
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumSocialMRecord, Model.SumSocialMRecord) + "%")
                                    }
                                    (@(Math.Abs(Model.PrevSumSocialMRecord - Model.SumSocialMRecord).ToString("N0")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumSocialMRecord, Model.SumSocialMRecord))%
                                    (@((Model.PrevSumSocialMRecord - Model.SumSocialMRecord).ToString("N0")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumSocialMRecord.ToString("N0")
                                </div>
                            }
                        </td>
                        <td id="divSocialMediaLineChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumSocialMediaLineChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumSocialMRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                </table>
                @*<div id="divSocialMediaLineChart" class="pull-left">
                </div>
                <div id="sumSocialMediaLineChart" class="clear center">
                </div>*@
            </div>
        </li>
        <li class="liSubMediaCharts cursorPointer" id="liNMChart" onclick="GetDataMediumWise('NM');">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            @CommonFunctions.GetEnumDescription(CommonFunctions.DashBoardMediumType.NM)
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfNMDocs" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumNMRecord.ToString("N0")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumNMRecord.ToString("N0")
                                </div>
                                if (Model.SumNMRecord == Model.PrevSumNMRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumNMRecord > Model.PrevSumNMRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up 
                                    @if (Model.PrevSumNMRecord != 0)
                                    {
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumNMRecord, Model.SumNMRecord) + "%")
                                    }
                                    (@(Math.Abs(Model.PrevSumNMRecord - Model.SumNMRecord).ToString("N0")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumNMRecord, Model.SumNMRecord))%
                                    (@((Model.PrevSumNMRecord - Model.SumNMRecord).ToString("N0")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumNMRecord.ToString("N0")
                                </div>
                            }
                        </td>
                        <td id="divNMLineChart" class="width50p">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumNMRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumNMLineChart" align="center" class="fontBold">
                        </td>
                    </tr>
                </table>
                @*<div id="divNMLineChart" class="pull-left">
                </div>
                <div id="sumNMLineChart" class="clear center">
                </div>*@
            </div>
        </li>
        <li class="liSubMediaCharts cursorPointer" id="liBlogChart" onclick="GetDataMediumWise('Blog');">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            @CommonFunctions.GetEnumDescription(CommonFunctions.DashBoardMediumType.Blog)
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfBlogDocs" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumBlogRecord.ToString("N0")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumBlogRecord.ToString("N0")
                                </div>
                                if (Model.SumBlogRecord == Model.PrevSumBlogRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumBlogRecord > Model.PrevSumBlogRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up 
                                    @if (Model.PrevSumBlogRecord != 0)
                                    {
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumBlogRecord, Model.SumBlogRecord) + "%")
                                    } (@(Math.Abs(Model.PrevSumBlogRecord - Model.SumBlogRecord).ToString("N0")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumBlogRecord, Model.SumBlogRecord))%
                                    (@((Model.PrevSumBlogRecord - Model.SumBlogRecord).ToString("N0")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumBlogRecord.ToString("N0")
                                </div>
                            }
                        </td>
                        <td id="divBlogLineChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumBlogLineChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumBlogRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                </table>
                @* <div id="divBlogLineChart" class="pull-left">
                </div>
                <div id="sumBlogLineChart" class="clear center">
                </div>*@
            </div>
        </li>
        <li class="liSubMediaCharts cursorPointer" id="liForumChart" onclick="GetDataMediumWise('Forum');">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            @CommonFunctions.GetEnumDescription(CommonFunctions.DashBoardMediumType.Forum)
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfForumDocs" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumForumRecord.ToString("N0")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumForumRecord.ToString("N0")
                                </div>
                                if (Model.SumForumRecord == Model.PrevSumForumRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumForumRecord > Model.PrevSumForumRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up 
                                    @if (Model.PrevSumForumRecord != 0)
                                    {                                    
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumForumRecord, Model.SumForumRecord) + "%")
                                    }
                                    (@(Math.Abs(Model.PrevSumForumRecord - Model.SumForumRecord).ToString("N0")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumForumRecord, Model.SumForumRecord))%
                                    (@((Model.PrevSumForumRecord - Model.SumForumRecord).ToString("N0")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumForumRecord.ToString("N0")
                                </div>
                            }
                        </td>
                        <td id="divForumLineChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumForumLineChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumForumRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                </table>
                @*<div id="divForumLineChart" class="pull-left">
                </div>
                <div id="sumForumLineChart" class="clear center">
                </div>*@
            </div>
        </li>
        <li class="liSubMediaCharts cursorPointer" id="liTWChart" onclick="GetDataMediumWise('TW');">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            @CommonFunctions.GetEnumDescription(CommonFunctions.DashBoardMediumType.TW)
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfTWDocs" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumTWRecord.ToString("N0")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumTWRecord.ToString("N0")
                                </div>
                                if (Model.SumTWRecord == Model.PrevSumTWRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumTWRecord > Model.PrevSumTWRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up 
                                    @if (Model.PrevSumTWRecord != 0)
                                    {
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumTWRecord, Model.SumTWRecord) + "%")
                                    }
                                    (@(Math.Abs(Model.PrevSumTWRecord - Model.SumTWRecord).ToString("N0")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumTWRecord, Model.SumTWRecord))%
                                    (@((Model.PrevSumTWRecord - Model.SumTWRecord).ToString("N0")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumTWRecord.ToString("N0")
                                </div>
                            }
                        </td>
                        <td id="divTWLineChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumTWLineChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumTWRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                </table>
                @* <div id="divTWLineChart" class="pull-left">
                </div>
                <div id="sumTWLineChart" class="clear center">
                </div>*@
            </div>
        </li>
        <li class="liSubMediaCharts cursorPointer" id="liPMChart" onclick="GetDataMediumWise('PM');">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            @CommonFunctions.GetEnumDescription(CommonFunctions.DashBoardMediumType.PM)
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfPMDocs" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumPMRecord.ToString("N0")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumPMRecord.ToString("N0")
                                </div>
                                if (Model.SumPMRecord == Model.PrevSumPMRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumPMRecord > Model.PrevSumPMRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up 
                                    @if (Model.PrevSumPMRecord != 0)
                                    {
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumPMRecord, Model.SumPMRecord) + "%")
                                    }
                                    (@(Math.Abs(Model.PrevSumPMRecord - Model.SumPMRecord).ToString("N0")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumPMRecord, Model.SumPMRecord))%
                                    (@((Model.PrevSumPMRecord - Model.SumPMRecord).ToString("N0")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumPMRecord.ToString("N0")
                                </div>
                            }
                        </td>
                        <td id="divPMLineChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumPMLineChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumPMRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        <li class="liSubMediaCharts cursorPointer" id="liRadioChart" onclick="GetDataMediumWise('Radio');">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            @CommonFunctions.GetEnumDescription(CommonFunctions.DashBoardMediumType.Radio)
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfTMDocs" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumTMRecord.ToString("N0")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumTMRecord.ToString("N0")
                                </div>
                                if (Model.SumTMRecord == Model.PrevSumTMRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumTMRecord > Model.PrevSumTMRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up 
                                    @if (Model.PrevSumTMRecord != 0)
                                    {
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumTMRecord, Model.SumTMRecord) + "%")
                                    }
                                    (@(Math.Abs(Model.PrevSumTMRecord - Model.SumTMRecord).ToString("N0")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumTMRecord, Model.SumTMRecord))%
                                    (@((Model.PrevSumTMRecord - Model.SumTMRecord).ToString("N0")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumTMRecord.ToString("N0")
                                </div>
                            }
                        </td>
                        <td id="divTMLineChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumTMLineChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumTMRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        <li class="liSubMediaCharts cursorPointer" id="liMSChart">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            @CommonFunctions.GetEnumDescription(CommonFunctions.DashBoardMediumType.MS)
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfMSDocs" class="paddinLeft15 width50p">
                            <div class="dashboardTotal">
                                @Model.SumMSRecord.ToString("N0")
                            </div>
                        </td>
                        <td id="divMSLineChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumMSLineChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumMSRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        <li class="liSubMediaCharts" id="liAudienceChart">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            Views
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfAudience" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumAudienceRecord.ToString("N0")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumAudienceRecord.ToString("N0")
                                </div>
                                if (Model.SumAudienceRecord == Model.PrevSumAudienceRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumAudienceRecord > Model.PrevSumAudienceRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up 
                                    @if (Model.PrevSumAudienceRecord != 0)
                                    {
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumAudienceRecord, Model.SumAudienceRecord) + "%")
                                    }
                                    (@(Math.Abs(Model.PrevSumAudienceRecord - Model.SumAudienceRecord).ToString("N0")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumAudienceRecord, Model.SumAudienceRecord))%
                                    (@((Model.PrevSumAudienceRecord - Model.SumAudienceRecord).ToString("N0")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumAudienceRecord.ToString("N0")
                                </div>
                            }
                        </td>
                        <td id="divAudienceSparkChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumAudienceSparkChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumAudienceRecord.ToString("N0");
                            }
                        </td>
                    </tr>
                </table>
                @* <div id="divAudienceSparkChart" class="pull-left">
                </div>
                <div id="sumAudienceSparkChart" class="clear center">
                </div>*@
            </div>
        </li>
        <li class="liSubMediaCharts" id="liMediaValueChart">
            <div>
                <table align="center" width="100%">
                    <tr>
                        <td class="broadcastSmallChartHeaderMedium" colspan="2">
                            Media Value
                        </td>
                    </tr>
                    <tr>
                        <td id="divComparisionOfMediaValue" class="paddinLeft15 width50p">
                            @if (Model.IsprevSummaryEnoughData)
                            {
                                <div class="dashboardTotal">
                                    @Model.SumIQMediaValueRecord.ToString("N2")
                                </div>
                                <div class="no-background">
                                    Compare to @Model.PrevSumIQMediaValueRecord.ToString("N2")
                                </div>
                                if (Model.SumIQMediaValueRecord == Model.PrevSumIQMediaValueRecord)
                                {
                                <div class="dashboardUpDiv" style="background: none">
                                    Same</div>
                                }
                                else if (Model.SumIQMediaValueRecord > Model.PrevSumIQMediaValueRecord)
                                {
                                <div class="dashboardUpDiv">
                                    &nbsp;Up 
                                    @if (Model.PrevSumIQMediaValueRecord != 0)
                                    {
                                        @(CommonFunctions.GetPercentageRelative(Model.PrevSumIQMediaValueRecord, Model.SumIQMediaValueRecord) + "%")
                                    }
                                    (@(Math.Abs(Model.PrevSumIQMediaValueRecord - Model.SumIQMediaValueRecord).ToString("N2")))</div>
                                }
                                else
                                {
                                <div class="dashboardDownDiv">
                                    &nbsp;Down @(CommonFunctions.GetPercentageRelative(Model.PrevSumIQMediaValueRecord, Model.SumIQMediaValueRecord))%
                                    (@((Model.PrevSumIQMediaValueRecord - Model.SumIQMediaValueRecord).ToString("N2")))</div>
                                }

                            }
                            else
                            {
                                <div class="dashboardTotal">
                                    @Model.SumIQMediaValueRecord.ToString("N2")
                                </div>
                            }
                        </td>
                        <td id="divIQMediaValueSparkChart" class="width50p">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td id="sumIQMediaValueSparkChart" align="center" class="fontBold">
                            @if (!Model.IsprevSummaryEnoughData)
                            {
                                Model.SumIQMediaValueRecord.ToString("N2");
                            }
                        </td>
                    </tr>
                </table>
                @*<div id="divIQMediaValueSparkChart" class="pull-left">
                </div>
                <div id="sumIQMediaValueSparkChart" class="clear center">
                </div>*@
            </div>
        </li>
    </ul>
</div>
<div style="width: 30%;" class="pull-left">
    <div id="divPieChartData" class="clear">
    </div>
    <div id="divPieChartText" style="position:absolute; left:0px; top:0px;"></div>
</div>
