@model @IQMedia.Model.IQAgentSearchRequest_DropDown
@{
    
    IQMedia.Model.SessionInformation sessionInformation = IQMedia.WebApplication.Utility.CommonFunctions.GetSessionInformation();
}
<form class="form-horizontal" method="post" action="/Setup/SubmitIQAgentSetupAddEdit/"
id="frmIQAgentSetupAddEdit" name="frmIQAgentSetupAddEdit">
<div class="modalpopheadertitle" style="width: 100%;">
    <div id="divIQAgentSetupPopupTitle" style="float: left;">
        Create IQAgent</div>
    <div style="float: right;">
        <input type="button" id="btnCancelIQAgentSetupAddEditForm" name="btnCancelIQAgentSetupAddEditForm"
            value="Cancel" onclick="CancelIQAgentPopup('divIQAgentSetupAddEditPopup');" class="cancelButton"
            style="margin: 0px;" />
        <input type="button" id="btnSubmitIQAgentSetupAddEditForm" name="btnSubmitIQAgentSetupAddEditForm"
            value="Submit" onclick="SubmitIQAgentSetup();" class="button" style="margin: 0px;" />
    </div>
    <div style="clear: both;">
    </div>
</div>
<div id="divIQAgentSetupAddEditFormScrollContent" style="margin-top: 10px;">
    <div style="padding-right: 10px;">
        <input type="hidden" id="hdnIQAgentSetupAddEditKey" name="hdnIQAgentSetupAddEditKey" />
        <div class="control-group">
            <label class="control-label" for="txtIQAgentSetupTitle">
                Title</label>
            <div class="controls">
                <input type="text" id="txtIQAgentSetupTitle" name="txtIQAgentSetupTitle" class="txtwidth90per"
                    placeholder="Title" />
                <span class="help-inline" id="spanIQAgentSetupTitle" style="color: #FF0000; display: none;
                    vertical-align: top"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtIQAgentSetupSearchTerm">
                Search Term</label>
            <div class="controls">
                <textarea id="txtIQAgentSetupSearchTerm" name="txtIQAgentSetupSearchTerm" rows="3"
                    cols="50" class="txtwidth90per" placeholder="Search Term"></textarea>
                <span class="help-inline" id="spanIQAgentSetupSearchTerm" style="color: #FF0000;
                    display: none; vertical-align: top"></span>
            </div>
        </div>
        <div>
            <div id="divIQAgentSetupTabs" class="clear" style="border-top: 1px solid grey;">
                @{
                    if (sessionInformation.Isv4TV)
                    {                 
                    <div id="divTVSetup" class="show-hide cursorPointer" onclick="ShowHideTabdiv(0);"
                        style="margin-top: 15px;">
                        <div class="float-left">
                            <img alt="" id="imgShowHide" src="../images/show.png">                            
                            @IQMedia.Shared.Utility.CommonFunctions.GetEnumDescription(IQMedia.Shared.Utility.CommonFunctions.MediaType.TV)
                        </div>
                        <div class="float-right marginRight10">
                            <input type="checkbox" id="chkIQAgentSetup_TV" name="chkIQAgentSetup_TV" value="TV"
                                style="margin-bottom: 5px; margin-left: 5px;" checked="checked" />
                        </div>
                    </div>    
                    <div id="divTVTabContent" class="margin10" style="display: none;">
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupSearchTerm_TV">
                                Search Term</label>
                            <div class="controls">
                                <div class="float-left width64p">
                                    <input type="text" id="txtIQAgentSetupSearchTerm_TV" name="txtIQAgentSetupSearchTerm_TV"
                                        class="txtwidth90per" placeholder="Search Term" />
                                </div>
                                <div class="float-left">
                                    <input type="checkbox" checked="checked" id="chkIQAgentSetupUserMasterSearchTerm_TV" name="chkIQAgentSetupUserMasterSearchTerm_TV"
                                        value="true" style="margin-bottom: 5px; margin-left: 5px;" /> Use Master Search Term 
                                </div>
                                <span class="help-inline width100p" id="spantxtIQAgentSetupSearchTerm_TV"
                                    style="color: #FF0000; display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupProgramTitle">
                                Program Title</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupProgramTitle" name="txtIQAgentSetupProgramTitle"
                                    class="txtwidth90per" placeholder="Program Title" />
                                <span class="help-inline" id="spantxtIQAgentSetupProgramTitle" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupAppearing">
                                Appearing</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupAppearing" name="txtIQAgentSetupAppearing"
                                    class="txtwidth90per" placeholder="Appearing" />
                                <span class="help-inline" id="spantxtIQAgentSetupAppearing" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupCategory_TV">
                                Categories</label>
                            <div class="controls">
                                @if (Model.TV_ClassList != null)
                                {
                                    <select id="ddlIQAgentSetupCategory_TV" name="ddlIQAgentSetupCategory_TV" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Categories">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.IQ_Class item in Model.TV_ClassList)
                                        {
                                            <option value="@item.Num">@item.Name</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spantxtIQAgentSetupCategory_TV" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>                        
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupDMA_TV">
                                Markets</label>
                            <div class="controls">
                                @if (Model.TV_DMAList != null)
                                {
                                    <div style="width:60%;" class="float-left">
                                        <select id="ddlIQAgentSetupDMA_TV" name="ddlIQAgentSetupDMA_TV" class="chosen-select ddlwidth93per"
                                            multiple="multiple" data-placeholder="Markets">
                                            <option value="0">All</option>
                                            @foreach (IQMedia.Model.IQ_Dma item in Model.TV_DMAList)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                        <span class="help-inline" id="spantxtIQAgentSetupDMA_TV" style="color: #FF0000; display: none;
                                            vertical-align: top"></span>
                                    </div>
                                    <div style="width:39%;" class="float-left">
                                        <label class="control-label" style="width:65px;" for="txtIQAgentSetupZipCodes">Zip Codes</label>
                                        <div style="margin-left:70px;">
                                            <input type="text" id="txtIQAgentSetupZipCodes" name="txtIQAgentSetupZipCodes" 
                                                placeholder="Zip Codes (separate multiple zip codes with semicolon)" style="width:77%" />
                                            <span class="help-inline" id="spantxtIQAgentSetupZipCodes" style="color: #FF0000;
                                                display: none; vertical-align: top"></span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupAffiliate_TV">
                                Station Affiliates</label>
                            <div class="controls">
                                @if (Model.TV_AffiliateList != null)
                                {
                                    <select id="ddlIQAgentSetupAffiliate_TV" name="ddlIQAgentSetupAffiliate_TV" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Station Affiliates">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.Station_Affil item in Model.TV_AffiliateList)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spantxtIQAgentSetupAffiliate" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupStation_TV">
                                Stations</label>
                            <div class="controls">
                                @if (Model.TV_StationList != null)
                                {
                                    <select id="ddlIQAgentSetupStation_TV" name="ddlIQAgentSetupStation_TV" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Stations">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.IQ_Station item in Model.TV_StationList)
                                        {
                                            <option value="@item.IQ_Station_ID">@item.Station_Call_Sign</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spantxtIQAgentSetupStation" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupRegion_TV">
                                Regions</label>
                            <div class="controls">
                                @if (Model.TV_RegionList != null)
                                {
                                    <select id="ddlIQAgentSetupRegion_TV" name="ddlIQAgentSetupRegion_TV" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Regions">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.IQ_Region item in Model.TV_RegionList)
                                        {
                                            <option value="@item.Num">@item.Name</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spantxtIQAgentSetupRegion" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupCountry_TV">
                                Countries</label>
                            <div class="controls">
                                @if (Model.TV_CountryList != null)
                                {
                                    <select id="ddlIQAgentSetupCountry_TV" name="ddlIQAgentSetupCountry_TV" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Countries">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.IQ_Country item in Model.TV_CountryList)
                                        {
                                            <option value="@item.Num">@item.Name</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spantxtIQAgentSetupCountry" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                    </div>
                    }
                }
                @{if (sessionInformation.Isv4NM)
                  {
                    <div id="divNMSetup" class="show-hide cursorPointer" onclick="ShowHideTabdiv(1);"
                        style="margin-top: 15px;">
                        <div class="float-left">
                            <img alt="" id="imgShowHide" src="../images/show.png">
                            @IQMedia.Shared.Utility.CommonFunctions.GetEnumDescription(IQMedia.Shared.Utility.CommonFunctions.MediaType.NM)
                        </div>
                        <div class="float-right marginRight10">
                            <input type="checkbox" id="chkIQAgentSetup_NM" name="chkIQAgentSetup_NM" value="NM"
                                style="margin-bottom: 5px; margin-left: 5px;" checked="checked" /></div>
                    </div> 
                    <div id="divOnlineNewsTabContent" class="margin10" style="display: none;">
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupSearchTerm_NM">
                                Search Term</label>
                            <div class="controls">
                                <div class="float-left width64p">
                                    <input type="text" id="txtIQAgentSetupSearchTerm_NM" name="txtIQAgentSetupSearchTerm_NM"
                                        class="txtwidth90per" placeholder="Search Term" />
                                </div>
                                <div class="float-left">
                                    <input type="checkbox" checked="checked" id="chkIQAgentSetupUserMasterSearchTerm_NM" name="chkIQAgentSetupUserMasterSearchTerm_NM"
                                        value="true" style="margin-bottom: 5px; margin-left: 5px;" /> Use Master Search Term 
                                </div>
                                <span class="help-inline width100p" id="spantxtIQAgentSetupSearchTerm_NM"
                                    style="color: #FF0000; display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupPublication_NM">
                                Publications</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupPublication_NM" name="txtIQAgentSetupPublication_NM"
                                    class="txtwidth90per" placeholder="Publications (separate multiple publications with semicolon)" />
                                <span class="help-inline" id="spanIQAgentSetupPublication_NM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupCategory_NM">
                                Categories</label>
                            <div class="controls">
                                @if (Model.NM_CategoryList != null)
                                {
                                    <select id="ddlIQAgentSetupCategory_NM" name="ddlIQAgentSetupCategory_NM" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Categories">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.IQAgentDropDown_NM_Category item in Model.NM_CategoryList)
                                        {
                                            <option value="@item.Label">@item.Label</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spanIQAgentSetupCategory_NM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupPublicationCategory_NM">
                                Publication Categories</label>
                            <div class="controls">
                                @if (Model.NM_PublicationCategoryList != null)
                                {
                                    <select id="ddlIQAgentSetupPublicationCategory_NM" name="ddlIQAgentSetupPublicationCategory_NM"
                                        class="chosen-select ddlwidth93per" multiple="multiple" data-placeholder="Publication Categories">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.IQAgentDropDown_NM_PublicationCategory item in Model.NM_PublicationCategoryList)
                                        {
                                            <option value="@item.ID">@item.Label</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spanIQAgentSetupPublicationCategory_NM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupGenere_NM">
                                Genres</label>
                            <div class="controls">
                                @if (Model.NM_GenereList != null)
                                {
                                    <select id="ddlIQAgentSetupGenere_NM" name="ddlIQAgentSetupGenere_NM" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Genres">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.IQAgentDropDown_NM_Genere item in Model.NM_GenereList)
                                        {
                                            <option value="@item.Label">@item.Label</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spanIQAgentSetupGenere_NM" style="color: #FF0000; display: none;
                                    vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupRegion_NM">
                                Regions</label>
                            <div class="controls">
                                @if (Model.NM_RegionList != null)
                                {
                                    <select id="ddlIQAgentSetupRegion_NM" name="ddlIQAgentSetupRegion_NM" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Regions">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.IQAgentDropDown_NM_Region item in Model.NM_RegionList)
                                        {
                                            <option value="@item.Label">@item.Label</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spanIQAgentSetupRegion_NM" style="color: #FF0000; display: none;
                                    vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupCountry_NM">
                                Countries</label>
                            <div class="controls">
                                @if (Model.CountryList != null)
                                {
                                    <select id="ddlIQAgentSetupCountry_NM" name="ddlIQAgentSetupCountry_NM" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Countries">
                                        <option value="0">All</option>
                                        @foreach (var item in Model.CountryList)
                                        {
                                            <option value="@item.Value">@item.Key</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spanIQAgentSetupCountry_NM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupLanguage_NM">
                                Languages</label>
                            <div class="controls">
                                @if (Model.LanguageList != null)
                                {
                                    <select id="ddlIQAgentSetupLanguage_NM" name="ddlIQAgentSetupLanguage_NM" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Languages">
                                        <option value="0">All</option>
                                        @foreach (var item in Model.LanguageList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spanIQAgentSetupLanguage_NM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupExcludeDomains_NM">
                                Exclude Domains</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupExcludeDomains_NM" name="txtIQAgentSetupExcludeDomains_NM"
                                    class="txtwidth90per" placeholder="Exclude Domains (separate multiple domains with semicolon)" />
                                <span class="help-inline" id="spanIQAgentSetupExcludeDomains_NM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                    </div>      
                  }
                }
                @{if (sessionInformation.Isv4SM)
                  {
                    <!-- SM Section -->
                    <div id="divSMSetup" class="show-hide cursorPointer" onclick="ShowHideTabdiv(2);"
                        style="margin-top: 15px;">
                        <div class="float-left">
                            <img alt="" id="imgShowHide" src="../images/show.png">
                            @IQMedia.Shared.Utility.CommonFunctions.GetEnumDescription(IQMedia.Shared.Utility.CommonFunctions.MediaType.SM)
                        </div>
                        <div class="float-right marginRight10">
                            <input type="checkbox" id="chkIQAgentSetup_SM" name="chkIQAgentSetup_SM" value="SM"
                                style="margin-bottom: 5px; margin-left: 5px;" checked="checked" />
                        </div>
                    </div> 
                    <div id="divSocialMediaTabContent" class="margin10" style="display: none;">
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupSearchTerm_SM">
                                Search Term</label>
                            <div class="controls">
                                <div class="float-left width64p">
                                    <input type="text" id="txtIQAgentSetupSearchTerm_SM" name="txtIQAgentSetupSearchTerm_SM"
                                        class="txtwidth90per" placeholder="Search Term" />
                                </div>
                                <div class="float-left">
                                    <input type="checkbox" checked="checked" id="chkIQAgentSetupUserMasterSearchTerm_SM" name="chkIQAgentSetupUserMasterSearchTerm_SM"
                                        value="true" style="margin-bottom: 5px; margin-left: 5px;" />
                                    Use Master Search Term
                                </div>
                                <span class="help-inline width100p" id="spantxtIQAgentSetupSearchTerm_SM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupSMSource_SM">
                                Sources</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupSource_SM" name="txtIQAgentSetupSource_SM"
                                    class="txtwidth90per" placeholder="Sources (separate multiple sources with semicolon)" />
                                <span class="help-inline" id="spanIQAgentSetupSource_SM" style="color: #FF0000; display: none;
                                    vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupAuthor_SM">
                                Author</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupAuthor_SM" name="txtIQAgentSetupAuthor_SM"
                                    class="txtwidth90per" placeholder="Author" />
                                <span class="help-inline" id="spanIQAgentSetupAuthor_SM" style="color: #FF0000; display: none;
                                    vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupTitle_SM">
                                Title</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupTitle_SM" name="txtIQAgentSetupTitle_SM" class="txtwidth90per"
                                    placeholder="Title" />
                                <span class="help-inline" id="spanIQAgentSetupTitle_SM" style="color: #FF0000; display: none;
                                    vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupSourceType_SM">
                                Source Types</label>
                            <div class="controls">
                                @if (Model.SM_SourceTypeList != null)
                                {
                                    <select id="ddlIQAgentSetupSourceType_SM" name="ddlIQAgentSetupSourceType_SM" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Source Types">
                                        <option value="0">All</option>
                                        @foreach (IQMedia.Model.IQAgentDropDown_SM_SourceType item in Model.SM_SourceTypeList)
                                        {
                                            <option value="@item.Label">@item.Label</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spanIQAgentSetupSourceType_SM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupExcludeDomains_SM">
                                Exclude Domains</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupExcludeDomains_SM" name="txtIQAgentSetupExcludeDomains_SM"
                                    class="txtwidth90per" placeholder="Exclude Domains (separate multiple domains with semicolon)" />
                                <span class="help-inline" id="spanIQAgentSetupExcludeDomains_SM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                    </div>
                    <!-- End SM Section -->
                    <!-- Facebook Section -->
                    <div id="divFBSetup" class="show-hide cursorPointer" onclick="ShowHideTabdiv(7);"
                        style="margin-top: 15px;">
                        <div class="float-left">
                            <img alt="" id="imgShowHide" src="../images/show.png">
                            @IQMedia.Shared.Utility.CommonFunctions.GetEnumDescription(IQMedia.Shared.Utility.CommonFunctions.CategoryType.FB)
                        </div>
                        <div class="float-right marginRight10">
                            <input type="checkbox" id="chkIQAgentSetup_FB" name="chkIQAgentSetup_FB"
                                value="FB" style="margin-bottom: 5px; margin-left: 5px;" /></div>
                    </div>
                    <div id="divFBTabContent" class="margin10" style="display: none;">
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupSearchTerm_FB">
                                Search Term</label>
                            <div class="controls">
                                <div class="float-left width64p">
                                    <input type="text" id="txtIQAgentSetupSearchTerm_FB" name="txtIQAgentSetupSearchTerm_FB"
                                        class="txtwidth90per" placeholder="Search Term" />
                                </div>
                                <div class="float-left">
                                    <input type="checkbox" checked="checked" id="chkIQAgentSetupUserMasterSearchTerm_FB" name="chkIQAgentSetupUserMasterSearchTerm_FB"
                                        value="true" style="margin-bottom: 5px; margin-left: 5px;" />
                                    Use Master Search Term
                                </div>
                                <span class="help-inline width100p" id="spantxtIQAgentSetupSearchTerm_FB" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="chkIQAgentSetupIncludeDefault">
                                Include Influencer Pages</label>
                            <div class="controls">
                                <input type="checkbox" checked="checked" id="chkIQAgentSetupIncludeDefault" name="chkIQAgentSetupIncludeDefault" value="true" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupFBPageID">
                                Page IDs</label>
                            <div class="controls">
                                <textarea id="txtIQAgentSetupFBPageID" name="txtIQAgentSetupFBPageID" class="txtwidth90per" rows="2" cols="50"
                                    placeholder="Page IDs (separate multiple IDs with semicolon)"></textarea>
                                <span class="help-inline" id="spanIQAgentSetupFBPageID" style="color: #FF0000; display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupFBPage">
                                Pages</label>
                            <div class="controls">
                                <textarea id="txtIQAgentSetupFBPage" name="txtIQAgentSetupFBPage" class="txtwidth90per" rows="2" cols="50"
                                    placeholder="Pages (separate multiple pages with semicolon)"></textarea>
                                <span class="help-inline" id="spanIQAgentSetupFBPage" style="color: #FF0000; display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupExcludeFBPageID">
                                Exclude Page IDs</label>
                            <div class="controls">
                                <textarea id="txtIQAgentSetupExcludeFBPageID" name="txtIQAgentSetupExcludeFBPageID" class="txtwidth90per" rows="2" cols="50"
                                    placeholder="Exclude Page IDs (separate multiple IDs with semicolon)"></textarea>
                                <span class="help-inline" id="spanIQAgentSetupExcludeFBPageID" style="color: #FF0000; display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupExcludeFBPage">
                                Exclude Pages</label>
                            <div class="controls">
                                <textarea id="txtIQAgentSetupExcludeFBPage" name="txtIQAgentSetupExcludeFBPage" class="txtwidth90per" rows="2" cols="50"
                                    placeholder="Exclude Pages (separate multiple pages with semicolon)"></textarea>
                                <span class="help-inline" id="spanIQAgentSetupExcludeFBPage" style="color: #FF0000; display: none; vertical-align: top"></span>
                            </div>
                        </div>
                    </div>   
                  }
                }
                @{if (sessionInformation.Isv4TW)
                  {
                    <div id="divTWSetup" class="show-hide cursorPointer" onclick="ShowHideTabdiv(3);"
                        style="margin-top: 15px;">
                        <div class="float-left">
                            <img alt="" id="imgShowHide" src="../images/show.png">
                            @IQMedia.Shared.Utility.CommonFunctions.GetEnumDescription(IQMedia.Shared.Utility.CommonFunctions.MediaType.TW)
                        </div>
                        <div class="float-right marginRight10">
                            <input type="checkbox" id="chkIQAgentSetup_TW" name="chkIQAgentSetup_TW" value="TW"
                                style="margin-bottom: 5px; margin-left: 5px;" checked="checked" />
                        </div>
                    </div>
                    <div id="divTwitterTabContent" class="margin10" style="display: none;">
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupSearchTerm_TW">
                                Search Term</label>
                            <div class="controls">
                                <div class="float-left width64p">
                                    <input type="text" id="txtIQAgentSetupSearchTerm_TW" name="txtIQAgentSetupSearchTerm_TW"
                                        class="txtwidth90per" placeholder="Search Term" />
                                </div>
                                <div class="float-left">
                                    <input type="checkbox" checked="checked" id="chkIQAgentSetupUserMasterSearchTerm_TW" name="chkIQAgentSetupUserMasterSearchTerm_TW"
                                        value="true" style="margin-bottom: 5px; margin-left: 5px;" />
                                    Use Master Search Term
                                </div>
                                <span class="help-inline width100p" id="spantxtIQAgentSetupSearchTerm_TW" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupActor_TW">
                                Twitter Handle</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupActor_TW" name="txtIQAgentSetupActor_TW" class="txtwidth90per"
                                    placeholder="Actor" />
                                <span class="help-inline" id="spanIQAgentSetupActor_TW" style="color: #FF0000; display: none;
                                    vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupActor_TW">
                                Gnip Tags</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupGnipTag_TW" name="txtIQAgentSetupGnipTag_TW"
                                    class="txtwidth90per" placeholder="Gnip Tags (separate multiple GUIDs with semicolon)" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupFollowersCount_TW">
                                Followers Count</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupFollowersCount_From_TW" name="txtIQAgentSetupFollowersCount_From_TW" />
                                <span style="padding-left: 5px; padding-right: 5px;">To</span>
                                <input type="text" id="txtIQAgentSetupFollowersCount_To_TW" name="txtIQAgentSetupFollowersCount_To_TW" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupFriendsCount_TW">
                                Following Count</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupFriendsCount_From_TW" name="txtIQAgentSetupFriendsCount_From_TW" />
                                <span style="padding-left: 5px; padding-right: 5px;">To</span>
                                <input type="text" id="txtIQAgentSetupFriendsCount_To_TW" name="txtIQAgentSetupFriendsCount_To_TW" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupKloutScore_TW">
                                Klout Score</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupKloutScore_From_TW" name="txtIQAgentSetupKloutScore_From_TW" />
                                <span style="padding-left: 5px; padding-right: 5px;">To</span>
                                <input type="text" id="txtIQAgentSetupKloutScore_To_TW" name="txtIQAgentSetupKloutScore_To_TW" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupExcludeHandles_TW">
                                Exclude Handles</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupExcludeHandles_TW" name="txtIQAgentSetupExcludeHandles_TW"
                                    class="txtwidth90per" placeholder="Exclude Handles (separate multiple handles with semicolon)" />
                                <span class="help-inline" id="spanIQAgentSetupExcludeHandles_TW" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                    </div>
                  }
                }
                @{if (sessionInformation.Isv4TM)
                  {
                    <div id="divTMSetup" class="show-hide cursorPointer" onclick="ShowHideTabdiv(4);"
                        style="margin-top: 15px;">
                        <div class="float-left">
                            <img alt="" id="imgShowHide" src="../images/show.png">
                            @IQMedia.Shared.Utility.CommonFunctions.GetEnumDescription(IQMedia.Shared.Utility.CommonFunctions.MediaType.TM)
                        </div>
                        <div class="float-right marginRight10">
                            <input type="checkbox" id="chkIQAgentSetup_TM" onclick="return false;" name="chkIQAgentSetup_TM"
                                value="TM" style="margin-bottom: 5px; margin-left: 5px;" /></div>
                    </div>
                    <div id="divTMTabContent" class="margin10" style="display: none;">
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupSearchTerm_TM">
                                Search Term</label>
                            <div class="controls">
                                <input type="text" readonly="readonly" id="txtIQAgentSetupSearchTerm_TM" name="txtIQAgentSetupSearchTerm_TM"
                                    class="txtwidth90per" placeholder="Search Term" />
                                <span class="help-inline" id="spantxtIQAgentSetupSearchTerm_TM" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupTVEyesSearchGUID_TM">
                                Search Guid</label>
                            <div class="controls">
                                <input type="text" readonly="readonly" id="txtIQAgentSetupTVEyesSearchGUID_TM" name="txtIQAgentSetupTVEyesSearchGUID_TM"
                                    class="txtwidth90per" placeholder="TVEyes Search Guid" />
                            </div>
                        </div>
                    </div>   
                  }
                }
                @if (sessionInformation.Isv4BLPM)
                {
                    <div id="divPMSetup" class="show-hide cursorPointer" onclick="ShowHideTabdiv(5);"
                        style="margin-top: 15px;">
                        <div class="float-left">
                            <img alt="" id="imgShowHide" src="../images/show.png">
                            @IQMedia.Shared.Utility.CommonFunctions.GetEnumDescription(IQMedia.Shared.Utility.CommonFunctions.MediaType.PM)
                        </div>
                        <div class="float-right marginRight10">
                            <input type="checkbox" id="chkIQAgentSetup_PM" onclick="return false;" name="chkIQAgentSetup_PM"
                                value="PM" style="margin-bottom: 5px; margin-left: 5px;" /></div>
                    </div>
                    <div id="divPMTabContent" class="margin10" style="display: none;">
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupBLPMIXXml_PM">
                                BLPM ID
                            </label>
                            <div class="controls">
                                <textarea class="txtwidth90per" readonly="readonly" cols="50" rows="10" name="txtIQAgentSetupBLPMIXXml_PM"
                                    id="txtIQAgentSetupBLPMIXXml_PM"></textarea>
                            </div>
                        </div>
                    </div>
                }
                @if (sessionInformation.Isv4PQ)
                {
                    <div id="divPQSetup" class="show-hide cursorPointer" onclick="ShowHideTabdiv(6);"
                        style="margin-top: 15px;">
                        <div class="float-left">
                            <img alt="" id="imgShowHide" src="../images/show.png">
                            @IQMedia.Shared.Utility.CommonFunctions.GetEnumDescription(IQMedia.Shared.Utility.CommonFunctions.MediaType.PQ)
                        </div>
                        <div class="float-right marginRight10">
                            <input type="checkbox" id="chkIQAgentSetup_PQ" name="chkIQAgentSetup_PQ"
                                value="PQ" style="margin-bottom: 5px; margin-left: 5px;" /></div>
                    </div>
                    <div id="divPQTabContent" class="margin10" style="display: none;">
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupSearchTerm_PQ">
                                Search Term</label>
                            <div class="controls">
                                <div class="float-left width64p">
                                    <input type="text" id="txtIQAgentSetupSearchTerm_PQ" name="txtIQAgentSetupSearchTerm_PQ"
                                        class="txtwidth90per" placeholder="Search Term" />
                                </div>
                                <div class="float-left">
                                    <input type="checkbox" checked="checked" id="chkIQAgentSetupUserMasterSearchTerm_PQ" name="chkIQAgentSetupUserMasterSearchTerm_PQ"
                                        value="true" style="margin-bottom: 5px; margin-left: 5px;" />
                                    Use Master Search Term
                                </div>
                                <span class="help-inline width100p" id="spantxtIQAgentSetupSearchTerm_PQ" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlIQAgentSetupLanguage_PQ">
                                Languages</label>
                            <div class="controls">
                                @if (Model.LanguageList != null)
                                {
                                    <select id="ddlIQAgentSetupLanguage_PQ" name="ddlIQAgentSetupLanguage_PQ" class="chosen-select ddlwidth93per"
                                        multiple="multiple" data-placeholder="Languages">
                                        <option value="0">All</option>
                                        @foreach (var item in Model.LanguageList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                }
                                <span class="help-inline" id="spanIQAgentSetupLanguage_PQ" style="color: #FF0000;
                                    display: none; vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupPublication_PQ">
                                Publications</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupPublication_PQ" name="txtIQAgentSetupPublication_PQ" class="txtwidth90per"
                                    placeholder="Publications (separate multiple publications with semicolon)" />
                                <span class="help-inline" id="spanIQAgentSetupPublication_PQ" style="color: #FF0000; display: none;
                                    vertical-align: top"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="txtIQAgentSetupAuthor_PQ">
                                Authors</label>
                            <div class="controls">
                                <input type="text" id="txtIQAgentSetupAuthor_PQ" name="txtIQAgentSetupAuthor_PQ"
                                    class="txtwidth90per" placeholder="Authors (separate multiple authors with semicolon)" />
                            </div>
                        </div>
                    </div>                   
                }
            </div>
        </div>
    </div>
</div>
</form>
