<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>iQ media Report</title>
    <style type="text/css">
		body
		{
			font-family:sans-serif;
		}
		.highlight
		{
			background-color: #808081;
			color: #FFFFFF;
		}
    </style>
</head>
<body>
@if (Model != null)
{
<table id="mainTable" style="background-color: #FFFFFF;  width: 650px;  border: solid 1px #A0A0A0;  padding: 3px 3px 3px 3px;" width="650px" align="center">
    <tr>
        <td>
            <table style="width: 100%">
                <tr>
                    <td id="divLogo" colspan="2">
    @if (!string.IsNullOrEmpty(Model.ClientHeader))
    {
                        <img src="@Model.ClientHeader" alt="logo" style="width:650px;" />
    }
    else
    {
                        <img src="@(Model.ImageBaseUrl)/logo_N.png" alt="iq logo" style="width:650px;" />
    }
                    </td>
                </tr>
                <tr>
                    <td id="headerMain" style="background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 18px;" colspan="2">
                        @Model.ClientName
                    </td>
                </tr>
                <tr>
                    <td id="alignTextLeft" style="text-align: left !important;">
                        <table width="100%">

        @foreach (string agent in Model.Summary.OrderBy(a => a))
        {

                            <tr>
                                <td id="topLeftSection" style="font-size: 14px;text-align: left; color: #333333;" >
                                    @Raw(@System.Net.WebUtility.HtmlDecode(agent))
                                </td>
                            </tr>

        }

                            <tr>
                                <td colspan="2">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td id="topLeftSection" style="font-size: 14px;text-align: left; color: #333333;" >
                                    Total Number of Clips: @Model.SearchRequest.Sum(a => ((a.TV != null && a.TV.TVNode != null) ? a.TV.TVNode.Count() : 0)
                                                                                            + ((a.News != null && a.News.NMNode != null) ? a.News.NMNode.Count() : 0)
                                                                                            + ((a.SocialMedia != null && a.SocialMedia.SMNode != null) ? a.SocialMedia.SMNode.Count() : 0)
                                                                                            + ((a.Twitter != null && a.Twitter.TWNode != null) ? a.Twitter.TWNode.Count() : 0)
                                                                                            + ((a.Blog != null && a.Blog.BlogNode != null) ? a.Blog.BlogNode.Count() : 0)
                                                                                            + ((a.Forum != null && a.Forum.ForumNode != null) ? a.Forum.ForumNode.Count() : 0)
																							+ ((a.PrintMedia != null && a.PrintMedia.PMNode != null) ? a.PrintMedia.PMNode.Count() : 0)
																							+ ((a.TM != null && a.TM.TMNode != null) ? a.TM.TMNode.Count() : 0)
																							+ ((a.PQ != null && a.PQ.PQNode != null) ? a.PQ.PQNode.Count() : 0))
                                </td>
                            </tr>
                            <tr>
                                <td id="topLeftSection" style="font-size: 14px;text-align: left; color: #333333;" >
                                    Total Audience: @String.Format("{0:N0}", Model.SearchRequest.Sum(a => ((a.TV != null && a.TV.TVNode != null) ? a.TV.TVNode.Sum(b => b.Audience) : 0)
                                                                                            + ((a.News != null && a.News.NMNode != null) ? a.News.NMNode.Sum(b => b.Audience) : 0)
                                                                                            + ((a.Twitter != null && a.Twitter.TWNode != null) ? a.Twitter.TWNode.Sum(b => b.FollowersCount) : 0)
                                                                                            + ((a.Blog != null && a.Blog.BlogNode != null) ? a.Blog.BlogNode.Sum(b => b.Audience) : 0)
																							+ ((a.PrintMedia != null && a.PrintMedia.PMNode != null) ? a.PrintMedia.PMNode.Sum(b => b.Circulation) : 0)))
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td id="topRightSection" style="font-size: 16px;text-align: right; vertical-align: middle;">
                        <a href="@Model.IQAgentDigestUrl" style="color: #333333;border: 2px solid #A0A0A0;padding-top: 10px;padding-bottom: 10px;padding-right: 5px;font-weight: bold;" target="_blank">View Full Report</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    @if (Model.SearchRequest != null && Model.SearchRequest.Count > 0)
    {
        foreach (XmlToHtmlTransform.SearchRequest request in Model.SearchRequest.OrderBy(a => a.QueryName))
        {

    <tr>
		<td id="headerSub" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
			<table style="width:100%">
				<tr>
					<td id="alignTextLeft" style="text-align: left !important;"><span name="@request.QueryName" style="color:#333333;font-weight: bold;">@request.QueryName</span></td>
					<td id="alignTextRight" style="text-align: right !important;"><a href="@request.SearchRequestUrl">View All Results</a></td>
				</tr>
			</table>
		</td>
    </tr>

            if (request.TV != null && request.TV.TVNode != null && request.TV.TVNode.Count > 0)
            {
			    List<XmlToHtmlTransform.TVNode> TVItems = null;
			
			    if(Model.UseRollup)
			    {
			 	    TVItems = request.TV.TVNode.Where(t=>!t.ParentID.HasValue).OrderBy(a => a.GmtDate).Take(request.TV.NoOfDisplayItems).ToList();
			    }
			    else
			    {
				    TVItems = request.TV.TVNode.OrderBy(a => a.GmtDate).Take(request.TV.NoOfDisplayItems).ToList();
			    }

    <tr>
        <td id="headerMedia" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
            <table width="100%">
                <tr>
                    <td id="alignTextLeft" style="text-align: left !important;"><span style="font-size: 12px;color: #333333;">Television</span></td>
                    <td id="alignTextRight" style="text-align: right !important;"><a style="font-size: 12px;color: #333333;" href="@(request.SearchRequestUrl)#TV">See More</a></td>
                </tr>
            </table>
        </td>
    </tr>

                foreach (var item in TVItems)
                {
                    string Month = item.MediaDate != null ? item.MediaDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
                    string Day = item.MediaDate != null ? item.MediaDate.Day.ToString() : string.Empty;
                    string Time = item.MediaDate != null ? item.MediaDate.ToString("hh:mm tt") : string.Empty;

                    string hilightedText = string.Empty;
                    if (!string.IsNullOrEmpty(item.HighlightingText))
                    {
                        item.HighlightingText = item.HighlightingText.Replace("&lt;", "<").Replace("&gt;", ">");
                        hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
                        hilightedText = XmlToHtmlTransform.Transform.ProcessHighlightingText(item.HighlightingText, hilightedText);
                    }

    <tr>
		<td style="border-top:1pt solid black; padding-bottom:10px;">
			<table style="width: 100%;">
				<tr>
					<td id="mediaEntry" style="padding-top: 5px; padding-bottom: 10px;">
						<table style="width: 100%;">
							<tr>
								<td id="mediaDate" style="width: 65px;text-align: left;vertical-align: top;">
									<table style="width: 100%;border-collapse: collapse;border-spacing: 0;">
										<tr>
											<td id="post-date" style="width: 65px;height: auto;padding-bottom: 6px;">
												<table style="width: 100%">
													<tr>
														<td id="month" style="font-size: 18px;text-transform: uppercase;display: block;font-weight: normal;padding: 0px;color: #cc2900;text-align: center;">@Month</td>
													</tr>
													<tr>
														<td id="day" style="font-size: 30px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Day</td>
													</tr>
													<tr>
														<td id="time" style="font-size: 11px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Time</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaTypeLogo" style="width: 40px;min-height: 32px;float: center;vertical-align: top;" align="center">
                                    <img alt="TV" style="width: 25px;" src="@item.StationLogo" />
                                </td>
                                <td id="mediaTVBody" style="text-align: left;vertical-align: top;width: 445px;">
									<table style="width: 100%;">
										<tr>
											<td id="mediaTitle" style="text-align: left;height: 20px;font-size: 17px;">
												<a href="@item.Url" style="color: #598ea2;font-weight: bold;text-decoration: none;font-size: 16px;">@Raw(@System.Net.WebUtility.HtmlDecode(item.Title))</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="mediaContent" style="text-align: left;height: auto;font-size: 13px;font-weight: normal;">
                                                <span>@Raw(@System.Net.WebUtility.HtmlDecode(hilightedText))</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaVideo" style="align: right;vertical-align: middle;width: 100px;">
                                    <a href="@item.Url">
                                        <img width="100" height="65" src="@item.ThumbnailImage" alt="clip"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="actionBar" style="font-size: 12px !important; ">
					<td style="padding: 0px;font-size: 10px !important; line-height: 0px">
						<table cellspacing="0" cellpadding="0" style="height: 15px;">
                            <tr>
                                <td id="filler" style="width: 35px;">
									&nbsp;
                                </td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(item.Market))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@item.Market
									</td>
								}	
									</tr></table>
								</td>
								<td id="sentiment" style="width: 100px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tbody>
											<tr>
												<td><img src="@(Model.ImageBaseUrl)/abarSentiment.png" width="15" /></td>
												<td id="sentimentMain" style="background-color: #DEDEDE; color: #FFFFFF; float: right; height: 15px; width: 51px;text-align: center; padding: 0px !important; margin-left: 0px; margin-top: 0px;">
													<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
														<tbody>
															<tr>
																<td align="right" id="sentimentNegTD" style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White; overflow: hidden;">
																	<span id='sentimentNegSpan' style='width:@((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;background-color: #d8635d; color: #FFFFFF; float: right !important;line-height: 15px; overflow: hidden; padding: 0 !important;'>
                                                                        @(item.NegativeSentiment > 0 ? item.NegativeSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
																<td align="left" id="sentimentPosTD" style="width: 26px; padding:0px !important; float:right !important;">
																	<span id='sentimentPosSpan'  style='width:@((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;color: #FFFFFF; line-height: 15px; background-color: #c7d36a;overflow: hidden; padding: 0px ! important; float: left ! important;'>
                                                                        @(item.PositiveSentiment > 0 ? item.PositiveSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
                                <td id="detail" style="width: 180px;">
                                @if (item.Audience > 0 && item.MediaValue > 0)
                                {
                                    <table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
                                        <tr>
											<td>
												<img src="@(Model.ImageBaseUrl)/view.png" width="15" alt="view" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
												@string.Format("{0:n0}", item.Audience)
											</td>
											<td>
												<img src="@(Model.ImageBaseUrl)/dollar.png" alt="dollar" width="15" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
												<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
													<tr>
														<td style="font-family: 'Microsoft Sans Serif';">
															 @(string.Format("{0:n2}", item.MediaValue))
														</td>
										@if (!string.IsNullOrWhiteSpace(TVModel.Nielsen_Result))
										{
														<td style="font-family: 'Microsoft Sans Serif'; text-align: center;">
															&nbsp;@("(" + item.Nielsen_Result.ToUpper() + ")")
														</td>
										}
													</tr>
												</table>
											</td>
                                        </tr>
                                    </table>
                                }
                                </td>
                                <td id="detail" style="width: 180px;">
                                    <table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
                                        <tr>
                                        @if (item.National_Audience.HasValue)
                                        {
                                            <td>
                                                <img src="@(Model.ImageBaseUrl)/us-map.png" width="15" alt="view" />
                                            </td>
                                            <td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
                                                @string.Format("{0:n0}", item.National_Audience)
                                            </td>
                                        }
                                        @if (item.National_MediaValue.HasValue)
                                        {
                                            <td>
                                                <img src="@(Model.ImageBaseUrl)/us-dollar.png" width="15" alt="dollar" />
                                            </td>
                                            <td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td style="font-family: 'Microsoft Sans Serif'; text-align: center;">@(string.Format("{0:n2}", item.National_MediaValue))
                                                        </td>
                                                        @if (!string.IsNullOrWhiteSpace(item.National_Nielsen_Result))
                                                        {
                                                            <td style="font-family: 'Microsoft Sans Serif'; text-align: center;">
                                                                &nbsp;@("(" + item.National_Nielsen_Result.ToUpper() + ")")
                                                            </td>
                                                        }
                                                    </tr>
                                                </table>
                                            </td>
                                        }
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
					</td>
                </tr>
						
            @if(Model.UseRollup && request.TV != null && request.TV.TVNode != null && request.TV.TVNode.Count > 0 && request.TV.TVNode.Where(c=>c.ParentID==item.MediaID).ToList().Count>0)
			{
				<tr class="childRecord">
					<td>
						<table cellspacing="0" cellpadding="0" style="height: 15px;">

						@foreach (var childTV in request.TV.TVNode.Where(c=>c.ParentID==item.MediaID).ToList())
						{
							string childTime = childTV.MediaDate != null ? childTV.MediaDate.ToString("hh:mm tt") : string.Empty;
									
							<tr>
                                <td id="filler" style="width: 35px;">
									&nbsp;
                                </td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(childTV.Market))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										<a href="@childTV.Url" style="color: #73797F;">@childTV.Market</a>
									</td>
								}	
									</tr></table>
								</td>
                                <td id="sentiment" style="width: 100px;" style="text-align: center;">
                                    @childTime
                                </td>
								<td id="detail" style="width: 180px;">
                                @if (childTV.Audience > 0 && childTV.MediaValue > 0)
                                {
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
                                        <tr>
											<td>
												<img src="@(Model.ImageBaseUrl)/view.png" width="15" alt="view" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
												@string.Format("{0:n0}", childTV.Audience)
											</td>
											<td>
												<img src="@(Model.ImageBaseUrl)/dollar.png" alt="dollar" width="15" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
												<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
													<tr>
														<td style="font-family: 'Microsoft Sans Serif';">
															 @(string.Format("{0:n2}", childTV.MediaValue))
														</td>
										@if (!string.IsNullOrWhiteSpace(childTV.Nielsen_Result))
										{
														<td style="font-family: 'Microsoft Sans Serif'; text-align: center;">
															&nbsp;@("(" + childTV.Nielsen_Result.ToUpper() + ")")
														</td>
										}
													</tr>
												</table>
											</td>
                                        </tr>
                                    </table>
                                }
                                </td>
								<td id="detail" style="width: 180px;">
								</td>
							</tr>
						}
						</table>
					</td>
				</tr>
			}
            </table>
        </td>
    </tr>

                }
            }
            if (request.News != null && request.News.NMNode != null && request.News.NMNode.Count > 0)
            {
			    List<XmlToHtmlTransform.NMNode> NMItems = null;
			 
			    if(Model.UseRollup)
			    {
	                NMItems = request.News.NMNode.Where(n=>!n.ParentID.HasValue).OrderBy(a => a.GmtDate).Take(request.News.NoOfDisplayItems).ToList();
			    }
			    else
			    {
				    NMItems = request.News.NMNode.OrderBy(a => a.GmtDate).Take(request.News.NoOfDisplayItems).ToList();
			    }

    <tr>
        <td id="headerMedia" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
            <table width="100%">
                <tr>
                    <td id="alignTextLeft" style="text-align: left !important;"><span style="font-size: 12px;color: #333333;">Online News</span></td>
                    <td id="alignTextRight" style="text-align: right !important;"><a style="font-size: 12px;color: #333333;" href="@(request.SearchRequestUrl)#NM">See More</a></td>
                </tr>
            </table>
        </td>
    </tr>

                foreach (var item in NMItems)
                {
                    string Month = item.MediaDate != null ? item.MediaDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
                    string Day = item.MediaDate != null ? item.MediaDate.Day.ToString() : string.Empty;
                    string Time = item.MediaDate != null ? item.MediaDate.ToString("hh:mm tt") : string.Empty;

                    string hilightedText = string.Empty;
                    if (!string.IsNullOrEmpty(item.HighlightingText))
                    {
                        item.HighlightingText = item.HighlightingText.Replace("&lt;", "<").Replace("&gt;", ">");
                        hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
                        hilightedText = XmlToHtmlTransform.Transform.ProcessHighlightingText(item.HighlightingText, hilightedText);
                    }

    <tr>
        <td style="border-top:1pt solid black; padding-bottom:10px;">
            <table style="width: 100%;">
                <tr>
                    <td id="mediaEntry" style="padding-top: 5px; padding-bottom: 10px;">
                        <table style="width: 100%;">
                            <tr>
                                <td id="mediaDate" style="width: 65px;text-align: left;vertical-align: top;">
                                    <table style="width: 100%;border-collapse: collapse;border-spacing: 0;">
                                        <tr>
                                            <td id="post-date" style="width: 65px;height: auto;padding-bottom: 6px;">
												<table style="width: 100%">
													<tr>
														<td id="month" style="font-size: 18px;text-transform: uppercase;display: block;font-weight: normal;padding: 0px;color: #cc2900;text-align: center;">@Month</td>
													</tr>
													<tr>
														<td id="day" style="font-size: 30px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Day</td>
													</tr>
													<tr>
														<td id="time" style="font-size: 11px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Time</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaTypeLogo" style="width: 40px;min-height: 32px;float: center;vertical-align: top;" align="center">
                                    <img style="width: 25px;" src="@(Model.ImageBaseUrl)/MediaIcon/news.png" alt="News" />
                                </td>
                                <td id="mediaBody" style="text-align: left;vertical-align: top;width: 545px;">
									<table style="width: 100%;">
										<tr>
											<td id="mediaTitle" style="text-align: left;height: 20px;font-size: 17px;">
												<a href="@(item.Url)" style="color: #598ea2;font-weight: bold;text-decoration: none;font-size: 16px;">@Raw(@System.Net.WebUtility.HtmlDecode(item.Title))</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="mediaContent" style="text-align: left;height: auto;font-size: 13px;font-weight: normal;">
                                                <span>@Raw(@System.Net.WebUtility.HtmlDecode(hilightedText))</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="actionBar" style="font-size: 12px !important; ">
                    <td style="padding: 0px;font-size: 10px !important; line-height: 0px">
						<table  cellspacing="0" cellpadding="0" style="height: 15px;">
                            <tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(item.CompeteUrl))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@item.CompeteUrl
									</td>
								}	
									</tr></table>
								</td>
                                <td id="sentiment" style="width: 100px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tbody>
											<tr>
												<td><img src="@(Model.ImageBaseUrl)/abarSentiment.png" width="15" /></td>
												<td id="sentimentMain" style="background-color: #DEDEDE; color: #FFFFFF; float: right; height: 15px; width: 51px;text-align: center; padding: 0px !important; margin-left: 0px; margin-top: 0px;">
													<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
														<tbody>
															<tr>
																<td align="right" id="sentimentNegTD" style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White; overflow: hidden;">
                                                                    <span id='sentimentNegSpan' style='width:@((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;background-color: #d8635d; color: #FFFFFF; float: right !important;line-height: 15px; overflow: hidden; padding: 0 !important;'>
                                                                        @(item.NegativeSentiment > 0 ? item.NegativeSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
																<td align="left" id="sentimentPosTD" style="width: 26px; padding:0px !important; float:right !important;">
	                                                                 <span id='sentimentPosSpan'  style='width:@((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;color: #FFFFFF; line-height: 15px; background-color: #c7d36a;overflow: hidden; padding: 0px ! important; float: left ! important;'>
                                                                        @(item.PositiveSentiment > 0 ? item.PositiveSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
                                </td>
                                <td id="detail" style="width: 180px;">
                                @if (Decimal.Compare(Convert.ToDecimal(item.MediaValue), -1M) != 0 && item.Audience != -1)
                                {
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tr>
											<td>
												<img src="@(Model.ImageBaseUrl)/view.png" alt="view" width="15" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
												<table><tr><td style="text-align:center;">
                                    @if (item.Audience.HasValue)
                                    {
                                                @(string.Format("{0:n0}", item.Audience))
                                                       
                                    }
                                    else
                                    {
                                                @("NA")
                                    }
												</td>
												<td style="text-align:center;">
                                    @if (!string.IsNullOrWhiteSpace(item.Compete_Result) && item.Compete_Result.ToUpper() == "A")
                                    {
												<img title="Powered by Compete" width="15" height="auto" style="float: left; width: 15px; height: auto;" src="@(Model.ImageBaseUrl)/compete.png" alt="Compete Image" />
									}
												</td></tr></table>
											</td>
											<td>
												<img src="@(Model.ImageBaseUrl)/dollar.png" width="15" alt="dollar" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
                                    @if (item.MediaValue.HasValue)
                                    {
                                                @(string.Format("{0:n2}", item.MediaValue))
                                    }
                                    else
                                    {
                                                @("NA")
                                    }
											</td>
										</tr>
									</table>
                                }
                                </td>
                                <td id="detail" style="width: 180px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

				    @if(Model.UseRollup && request.News != null && request.News.NMNode != null && request.News.NMNode.Count > 0 && request.News.NMNode.Where(c=>c.ParentID==item.MediaID).ToList().Count>0)
				    {

                <tr class="childRecord">
					<td>
						<table  cellspacing="0" cellpadding="0" style="height: 15px;">

					    @foreach (var childNM in request.News.NMNode.Where(c=>c.ParentID==item.MediaID).ToList())
					    {
										
							<tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(childNM.CompeteUrl))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										<a href="@childNM.Url" style="color: #73797F;">@childNM.CompeteUrl</a>
									</td>
								}	
									</tr></table>
								</td>					
                                <td id="sentiment" style="width: 100px;" style="text-align: center;">
                                    @childNM.MediaDate.ToString("MM/dd/yyyy hh:mm tt")
                                </td>
                                <td id="detail" style="width: 180px;">
                                @if (Decimal.Compare(Convert.ToDecimal(childNM.MediaValue), -1M) != 0 && childNM.Audience != -1)
                                {
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tr>
											<td>
												<img src="@(Model.ImageBaseUrl)/view.png" alt="view" width="15" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
												<table><tr><td style="text-align:center;">
									@if (childNM.Audience.HasValue)
									{
										@(string.Format("{0:n0}", childNM.Audience))
															   
									}
									else
									{
										@("NA")
									}
												</td>
												<td style="text-align:center;">
									@if (!string.IsNullOrWhiteSpace(childNM.Compete_Result) && childNM.Compete_Result.ToUpper() == "A")
									{
												<img title="Powered by Compete" width="15" height="auto" style="float: left; width: 15px; height: auto;" src="@(Model.ImageBaseUrl)/compete.png" alt="Compete Image" />
									}
												</td></tr></table>
											</td>
											<td>
												<img src="@(Model.ImageBaseUrl)/dollar.png" width="15" alt="dollar" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
									@if (childNM.MediaValue.HasValue)
									{
										@(string.Format("{0:n2}", childNM.MediaValue))
									}
									else
									{
										@("NA")
									}
											</td>
										</tr>
									</table>
                                }
                                </td>
								<td id="detail" style="width: 180px;">
								</td>
							</tr>
			    		}
						</table>
					</td>
				</tr>
			    	}
            </table>
        </td>
    </tr>

                }
            }
            if (request.Blog != null && request.Blog.BlogNode != null && request.Blog.BlogNode.Count > 0)
            {
                List<XmlToHtmlTransform.BlogNode> BlogItems = request.Blog.BlogNode.OrderBy(a => a.GmtDate).Take(request.Blog.NoOfDisplayItems).ToList();
                
    <tr>
        <td id="headerMedia" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
            <table width="100%">
                <tr>
                    <td id="alignTextLeft" style="text-align: left !important;"><span style="font-size: 12px;color: #333333;">Blog</span></td>
                    <td id="alignTextRight" style="text-align: right !important;"><a style="font-size: 12px;color: #333333;" href="@(request.SearchRequestUrl)#Blog">See More</a></td>
                </tr>
            </table>
        </td>
    </tr>

                foreach (var item in BlogItems)
                {
                    string Month = item.MediaDate != null ? item.MediaDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
                    string Day = item.MediaDate != null ? item.MediaDate.Day.ToString() : string.Empty;
                    string Time = item.MediaDate != null ? item.MediaDate.ToString("hh:mm tt") : string.Empty;

                    string hilightedText = string.Empty;
                    if (!string.IsNullOrEmpty(item.HighlightingText))
                    {
                        item.HighlightingText = item.HighlightingText.Replace("&lt;", "<").Replace("&gt;", ">");
                        hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
                        hilightedText = XmlToHtmlTransform.Transform.ProcessHighlightingText(item.HighlightingText, hilightedText);
                    }

    <tr>
		<td style="border-top:1pt solid black; padding-bottom:10px;">
			<table style="width: 100%;">
				<tr>
					<td id="mediaEntry" style="padding-top: 5px; padding-bottom: 10px;">
						<table style="width: 100%;">
							<tr>
								<td id="mediaDate" style="width: 65px;text-align: left;vertical-align: top;">
									<table style="width: 100%;border-collapse: collapse;border-spacing: 0;">
										<tr>
											<td id="post-date" style="width: 65px;height: auto;padding-bottom: 6px;">
												<table style="width: 100%">
													<tr>
														<td id="month" style="font-size: 18px;text-transform: uppercase;display: block;font-weight: normal;padding: 0px;color: #cc2900;text-align: center;">@Month</td>
													</tr>
													<tr>
														<td id="day" style="font-size: 30px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Day</td>
													</tr>
													<tr>
														<td id="time" style="font-size: 11px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Time</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaTypeLogo" style="width: 40px;min-height: 32px;float: center;vertical-align: top;" align="center">
                                    <img style="width: 25px;" src="@(Model.ImageBaseUrl)/MediaIcon/blog.png" alt="blog" />
                                </td>
                                <td id="mediaBody" style="text-align: left;vertical-align: top;width: 545px;">
									<table style="width: 100%;">
										<tr>
											<td id="mediaTitle" style="text-align: left;height: 20px;font-size: 17px;">
												<a href="@item.Url" style="color: #598ea2;font-weight: bold;text-decoration: none;font-size: 16px;">@Raw(@System.Net.WebUtility.HtmlDecode(item.Title))</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="mediaContent" style="text-align: left;height: auto;font-size: 13px;font-weight: normal;">
                                                <span>@Raw(@System.Net.WebUtility.HtmlDecode(hilightedText))</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="actionBar" style="font-size: 12px !important; ">
                    <td style="padding: 0px;font-size: 10px !important; line-height: 0px">
						<table cellspacing="0" cellpadding="0" style="height: 15px;">
                            <tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(item.CompeteUrl))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@item.CompeteUrl
									</td>
								}	
									</tr></table>
								</td>
								<td id="sentiment" style="width: 100px;">
									<table  cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tbody>
											<tr>
												<td><img src="@(Model.ImageBaseUrl)/abarSentiment.png" width="15" /></td>
												<td id="sentimentMain" style="background-color: #DEDEDE; color: #FFFFFF; float: right; height: 15px; width: 51px;text-align: center; padding: 0px !important; margin-left: 0px; margin-top: 0px;">
													<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
														<tbody>
															<tr>
																<td align="right" id="sentimentNegTD" style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White; overflow: hidden;">
																	<span id='sentimentNegSpan' style='width:@((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;background-color: #d8635d; color: #FFFFFF; float: right !important;line-height: 15px; overflow: hidden; padding: 0 !important;'>
                                                                        @(item.NegativeSentiment > 0 ? item.NegativeSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
																<td align="left" id="sentimentPosTD" style="width: 26px; padding:0px !important; float:right !important;">
																	<span id='sentimentPosSpan'  style='width:@((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;color: #FFFFFF; line-height: 15px; background-color: #c7d36a;overflow: hidden; padding: 0px ! important; float: left ! important;'>
                                                                        @(item.PositiveSentiment > 0 ? item.PositiveSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td id="detail" style="width: 180px;">
                                @if (Decimal.Compare(Convert.ToDecimal(item.MediaValue), -1M) != 0 && item.Audience != -1)
                                {
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tr>
											<td>
												<img src="@(Model.ImageBaseUrl)/view.png" width="15" alt="view" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center; ">
											<table><tr><td style="text-align:center;">
                                    @if (item.Audience.HasValue)
                                    {
                                        @(string.Format("{0:n0}", item.Audience))
                                                       
                                    }
                                    else
                                    {
                                        @("NA")
                                    }
												</td>
												<td style="text-align:center;">
									@if (!string.IsNullOrWhiteSpace(item.Compete_Result) && item.Compete_Result.ToUpper() == "A")
									{
												<img title="Powered by Compete" width="15" height="auto" style="width: 15px; float:left; height: auto;" src="@(Model.ImageBaseUrl)/compete.png" alt="Compete Image" />
									}
												</td></tr></table>
											</td>
											<td>
												<img src="@(Model.ImageBaseUrl)/dollar.png" width="15" alt="dollar" />
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
                                    @if (item.MediaValue.HasValue)
                                    {
                                        @(string.Format("{0:n2}", item.MediaValue))
                                    }
                                    else
                                    {
                                        @("NA")
                                    }
											</td>
										</tr>
									</table>
								}
								</td>
                                <td id="detail" style="width: 180px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

            }
        }
        if (request.Forum != null && request.Forum.ForumNode != null && request.Forum.ForumNode.Count > 0)
        {
            List<XmlToHtmlTransform.ForumNode> ForumItems = request.Forum.ForumNode.OrderBy(a => a.GmtDate).Take(request.Forum.NoOfDisplayItems).ToList();
                
    <tr>
        <td id="headerMedia" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
            <table width="100%">
                <tr>
                    <td id="alignTextLeft" style="text-align: left !important;"><span style="font-size: 12px;color: #333333;">Forum</span></td>
                    <td id="alignTextRight" style="text-align: right !important;"><a style="font-size: 12px;color: #333333;" href="@(request.SearchRequestUrl)#Forum">See More</a></td>
                </tr>
            </table>
        </td>
    </tr>

            foreach (var item in ForumItems)
            {
                string Month = item.MediaDate != null ? item.MediaDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
                string Day = item.MediaDate != null ? item.MediaDate.Day.ToString() : string.Empty;
                string Time = item.MediaDate != null ? item.MediaDate.ToString("hh:mm tt") : string.Empty;

                string hilightedText = string.Empty;
                if (!string.IsNullOrEmpty(item.HighlightingText))
                {
                    item.HighlightingText = item.HighlightingText.Replace("&lt;", "<").Replace("&gt;", ">");
                    hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
                    hilightedText = XmlToHtmlTransform.Transform.ProcessHighlightingText(item.HighlightingText, hilightedText);
                }

    <tr>
		<td style="border-top:1pt solid black; padding-bottom:10px;">
			<table style="width: 100%;">
				<tr>
					<td id="mediaEntry" style="padding-top: 5px; padding-bottom: 10px;">
						<table style="width: 100%;">
							<tr>
								<td id="mediaDate" style="width: 65px;text-align: left;vertical-align: top;">
									<table style="width: 100%;border-collapse: collapse;border-spacing: 0;">
										<tr>
											<td id="post-date" style="width: 65px;height: auto;padding-bottom: 6px;">
												<table style="width: 100%">
													<tr>
														<td id="month" style="font-size: 18px;text-transform: uppercase;display: block;font-weight: normal;padding: 0px;color: #cc2900;text-align: center;">@Month</td>
													</tr>
													<tr>
														<td id="day" style="font-size: 30px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Day</td>
													</tr>
													<tr>
														<td id="time" style="font-size: 11px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Time</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaTypeLogo" style="width: 40px;min-height: 32px;float: center;vertical-align: top;" align="center">
                                    <img style="width: 25px;" src="@(Model.ImageBaseUrl)/MediaIcon/forum.png" alt="forum" />
                                </td>
                                <td id="mediaBody" style="text-align: left;vertical-align: top;width: 545px;">
									<table style="width: 100%;">
										<tr>
											<td id="mediaTitle" style="text-align: left;height: 20px;font-size: 17px;">
												<a href="@item.Url" style="color: #598ea2;font-weight: bold;text-decoration: none;font-size: 16px;">@Raw(@System.Net.WebUtility.HtmlDecode(item.Title))</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="mediaContent" style="text-align: left;height: auto;font-size: 13px;font-weight: normal;">
                                                <span>@Raw(@System.Net.WebUtility.HtmlDecode(hilightedText))</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="actionBar" style="font-size: 12px !important; ">
                    <td style="padding: 0px;font-size: 10px !important; line-height: 0px">
						<table cellspacing="0" cellpadding="0" style="height: 15px;">
                            <tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(item.CompeteUrl))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@item.CompeteUrl
									</td>
								}	
									</tr></table>
								</td>
								<td id="sentiment" style="width: 100px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tbody>
											<tr>
												<td><img src="@(Model.ImageBaseUrl)/abarSentiment.png" width="15" /></td>
												<td id="sentimentMain" style="background-color: #DEDEDE; color: #FFFFFF; float: right; height: 15px; width: 51px;text-align: center; padding: 0px !important; margin-left: 0px; margin-top: 0px;">
													<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
														<tbody>
															<tr>
																<td align="right" id="sentimentNegTD" style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White; overflow: hidden;">
																	<span id='sentimentNegSpan' style='width:@((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;background-color: #d8635d; color: #FFFFFF; float: right !important;line-height: 15px; overflow: hidden; padding: 0 !important;'>
                                                                        @(item.NegativeSentiment > 0 ? item.NegativeSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
																<td align="left" id="sentimentPosTD" style="width: 26px; padding:0px !important; float:right !important;">
																	<span id='sentimentPosSpan'  style='width:@((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;color: #FFFFFF; line-height: 15px; background-color: #c7d36a;overflow: hidden; padding: 0px ! important; float: left ! important;'>
                                                                        @(item.PositiveSentiment > 0 ? item.PositiveSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
                                <td id="detail" style="width: 180px;">
                                </td>
                                <td id="detail" style="width: 180px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
                
            }
        }
        if (request.SocialMedia != null && request.SocialMedia.SMNode != null && request.SocialMedia.SMNode.Count > 0)
        {
            List<XmlToHtmlTransform.SMNode> SMItems = request.SocialMedia.SMNode.OrderBy(a => a.GmtDate).Take(request.SocialMedia.NoOfDisplayItems).ToList();
                
    <tr>
        <td id="headerMedia" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
            <table width="100%">
                <tr>
                    <td id="alignTextLeft" style="text-align: left !important;"><span style="font-size: 12px;color: #333333;">Social Media</span></td>
                    <td id="alignTextRight" style="text-align: right !important;"><a style="font-size: 12px;color: #333333;" href="@(request.SearchRequestUrl)#SM">See More</a></td>
                </tr>
            </table>
        </td>
    </tr>

            foreach (var item in SMItems)
            {
                string Month = item.MediaDate != null ? item.MediaDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
                string Day = item.MediaDate != null ? item.MediaDate.Day.ToString() : string.Empty;
                string Time = item.MediaDate != null ? item.MediaDate.ToString("hh:mm tt") : string.Empty;

                string hilightedText = string.Empty;
                if (!string.IsNullOrEmpty(item.HighlightingText))
                {
                    item.HighlightingText = item.HighlightingText.Replace("&lt;", "<").Replace("&gt;", ">");
                    hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
                    hilightedText = XmlToHtmlTransform.Transform.ProcessHighlightingText(item.HighlightingText, hilightedText);
                }

    <tr>
		<td style="border-top:1pt solid black; padding-bottom:10px;">
			<table style="width: 100%;">
				<tr>
					<td id="mediaEntry" style="padding-top: 5px; padding-bottom: 10px;">
						<table style="width: 100%;">
							<tr>
								<td id="mediaDate" style="width: 65px;text-align: left;vertical-align: top;">
									<table style="width: 100%;border-collapse: collapse;border-spacing: 0;">
										<tr>
											<td id="post-date" style="width: 65px;height: auto;padding-bottom: 6px;">
												<table style="width: 100%">
													<tr>
														<td id="month" style="font-size: 18px;text-transform: uppercase;display: block;font-weight: normal;padding: 0px;color: #cc2900;text-align: center;">@Month</td>
													</tr>
													<tr>
														<td id="day" style="font-size: 30px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Day</td>
													</tr>
													<tr>
														<td id="time" style="font-size: 11px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Time</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaTypeLogo" style="width: 40px;min-height: 32px;float: center;vertical-align: top;" align="center">
                                    <img style="width: 25px;" src="@(Model.ImageBaseUrl)/MediaIcon/social-media.png" alt="social media" />
                                </td>
                                <td id="mediaBody" style="text-align: left;vertical-align: top;width: 545px;">
									<table style="width: 100%;">
										<tr>
											<td id="mediaTitle" style="text-align: left;height: 20px;font-size: 17px;">
												<a href="@item.Url" style="color: #598ea2;font-weight: bold;text-decoration: none;font-size: 16px;">@Raw(@System.Net.WebUtility.HtmlDecode(item.Title))</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="mediaContent" style="text-align: left;height: auto;font-size: 13px;font-weight: normal;">
                                                <span>@Raw(@System.Net.WebUtility.HtmlDecode(hilightedText))</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="actionBar" style="font-size: 12px !important; ">
                    <td style="padding: 0px;font-size: 10px !important; line-height: 0px">
						<table cellspacing="0" cellpadding="0" style="height: 15px;">
                            <tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(item.CompeteUrl))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@item.CompeteUrl
									</td>
								}	
									</tr></table>
								</td>
								<td id="sentiment" style="width: 100px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tbody>
											<tr>
												<td><img src="@(Model.ImageBaseUrl)/abarSentiment.png" width="15" /></td>
												<td id="sentimentMain" style="background-color: #DEDEDE; color: #FFFFFF; float: right; height: 15px; width: 51px;text-align: center; padding: 0px !important; margin-left: 0px; margin-top: 0px;">
													<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
														<tbody>
															<tr>
																<td align="right" id="sentimentNegTD" style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White; overflow: hidden;">
																	<span id='sentimentNegSpan' style='width:@((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;background-color: #d8635d; color: #FFFFFF; float: right !important;line-height: 15px; overflow: hidden; padding: 0 !important;'>
                                                                        @(item.NegativeSentiment > 0 ? item.NegativeSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
																<td align="left" id="sentimentPosTD" style="width: 26px; padding:0px !important; float:right !important;">
																	<span id='sentimentPosSpan'  style='width:@((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;color: #FFFFFF; line-height: 15px; background-color: #c7d36a;overflow: hidden; padding: 0px ! important; float: left ! important;'>
                                                                        @(item.PositiveSentiment > 0 ? item.PositiveSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
                                <td id="detail" style="width: 180px;">
                                </td>
                                <td id="detail" style="width: 180px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

            }
        }
        if (request.Twitter != null && request.Twitter.TWNode != null && request.Twitter.TWNode.Count > 0)
        {
            List<XmlToHtmlTransform.TWNode> TWItems = request.Twitter.TWNode.OrderBy(a => a.GmtDate).Take(request.Twitter.NoOfDisplayItems).ToList();
                
    <tr>
        <td id="headerMedia" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
            <table width="100%">
                <tr>
                    <td id="alignTextLeft" style="text-align: left !important;"><span style="font-size: 12px;color: #333333;">Twitter</span></td>
                    <td id="alignTextRight" style="text-align: right !important;"><a style="font-size: 12px;color: #333333;" href="@(request.SearchRequestUrl)#TW">See More</a></td>
                </tr>
            </table>
        </td>
    </tr>

            foreach (var item in TWItems)
            {
                string Month = item.MediaDate != null ? item.MediaDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
                string Day = item.MediaDate != null ? item.MediaDate.Day.ToString() : string.Empty;
                string Time = item.MediaDate != null ? item.MediaDate.ToString("hh:mm tt") : string.Empty;

                string hilightedText = string.Empty;
                if (!string.IsNullOrEmpty(item.HighlightingText))
                {
                    item.HighlightingText = item.HighlightingText.Replace("&lt;", "<").Replace("&gt;", ">");
                    hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
                    hilightedText = XmlToHtmlTransform.Transform.ProcessHighlightingText(item.HighlightingText, hilightedText);
                }


    <tr>
		<td style="border-top:1pt solid black; padding-bottom:10px;">
			<table style="width: 100%;">
				<tr>
					<td id="mediaEntry" style="padding-top: 5px; padding-bottom: 10px;">
						<table style="width: 100%;">
							<tr>
								<td id="mediaDate" style="width: 65px;text-align: left;vertical-align: top;">
									<table style="width: 100%;border-collapse: collapse;border-spacing: 0;">
										<tr>
											<td id="post-date" style="width: 65px;height: auto;padding-bottom: 6px;">
												<table style="width: 100%">
													<tr>
														<td id="month" style="font-size: 18px;text-transform: uppercase;display: block;font-weight: normal;padding: 0px;color: #cc2900;text-align: center;">@Month</td>
													</tr>
													<tr>
														<td id="day" style="font-size: 30px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Day</td>
													</tr>
													<tr>
														<td id="time" style="font-size: 11px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Time</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaTypeLogo" style="width: 40px;min-height: 32px;float: center;vertical-align: top;" align="center">
                                    <img style="width: 25px;" src="@(Model.ImageBaseUrl)/MediaIcon/twitter.png" alt="Twitter" />
                                </td>
                                <td id="mediaBody" style="text-align: left;vertical-align: top;width: 545px;">
									<table style="width: 100%;">
										<tr>
											<td id="mediaTitle" style="text-align: left;height: 20px;font-size: 17px;">
												<a href="@item.Url" style="color: #598ea2;font-weight: bold;text-decoration: none;font-size: 16px;">@item.ActorDisplayname</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="mediaContent" style="text-align: left;height: auto;font-size: 13px;font-weight: normal;">
                                                <span>@Raw(@System.Net.WebUtility.HtmlDecode(hilightedText))</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="actionBar" style="font-size: 12px !important; ">
                    <td style="padding: 0px;font-size: 10px !important; line-height: 0px">
                        <table width="100%">
                            <tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(item.PreferredUserName))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@item.PreferredUserName
									</td>
								}	
									</tr></table>
								</td>
								<td id="sentiment" style="width: 100px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tbody>
											<tr>
												<td><img src="@(Model.ImageBaseUrl)/abarSentiment.png" width="15" /></td>
												<td id="sentimentMain" style="background-color: #DEDEDE; color: #FFFFFF; float: right; height: 15px; width: 51px;text-align: center; padding: 0px !important; margin-left: 0px; margin-top: 0px;">
													<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
														<tbody>
															<tr>
																<td align="right" id="sentimentNegTD" style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White; overflow: hidden;">
																	<span id='sentimentNegSpan' style='width:@((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;background-color: #d8635d; color: #FFFFFF; float: right !important;line-height: 15px; overflow: hidden; padding: 0 !important;'>
                                                                        @(item.NegativeSentiment > 0 ? item.NegativeSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
																<td align="left" id="sentimentPosTD" style="width: 26px; padding:0px !important; float:right !important;">
																	<span id='sentimentPosSpan'  style='width:@((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;color: #FFFFFF; line-height: 15px; background-color: #c7d36a;overflow: hidden; padding: 0px ! important; float: left ! important;'>
                                                                        @(item.PositiveSentiment > 0 ? item.PositiveSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td id="detail" style="width: 180px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center; text-align: center;">
										<tr>
											<td style="font-family: 'Microsoft Sans Serif';">
												<img src="@(Model.ImageBaseUrl)/Klout.png" alt="Klout Score" width="15" />
											</td>
											<td style="font-family: 'Microsoft Sans Serif'; padding-left: 10px; padding-right: 15px; text-align: center;">
											   @(string.Format("{0:n0}", item.KloutScore))
											</td>
											<td style="font-family: 'Microsoft Sans Serif';">
											   <img src="@(Model.ImageBaseUrl)/followers.png" alt="Followers" width="15" />
											</td>
											<td style="font-family: 'Microsoft Sans Serif'; padding-left: 10px; padding-right: 15px; text-align: center;">
											  @(string.Format("{0:n0}", item.FollowersCount))
											</td>
											<td style="font-family: 'Microsoft Sans Serif';">
											   <img src="@(Model.ImageBaseUrl)/following.png" alt="Following" width="15" />
											</td>
											<td style="font-family: 'Microsoft Sans Serif'; padding-left: 10px; padding-right: 15px; text-align: center;">
											   @(string.Format("{0:n0}", item.FreiendsCount))
											</td>
										</tr>
									</table>
								</td>
                                <td id="detail" style="width: 180px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

            }
        }
        if (request.PrintMedia != null && request.PrintMedia.PMNode != null && request.PrintMedia.PMNode.Count > 0)
        {
            List<XmlToHtmlTransform.PMNode> PMItems = request.PrintMedia.PMNode.OrderBy(a => a.GmtDate).Take(request.PrintMedia.NoOfDisplayItems).ToList();
                
    <tr>
        <td id="headerMedia" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
            <table width="100%">
                <tr>
                    <td id="alignTextLeft" style="text-align: left !important;"><span style="font-size: 12px;color: #333333;">Publications (scanned)</span></td>
                    <td id="alignTextRight" style="text-align: right !important;"><a style="font-size: 12px;color: #333333;" href="@(request.SearchRequestUrl)#PM">See More</a></td>
                </tr>
            </table>
        </td>
    </tr>

            foreach (var item in PMItems)
            {
                string Month = item.MediaDate != null ? item.MediaDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
                string Day = item.MediaDate != null ? item.MediaDate.Day.ToString() : string.Empty;
                string Time = item.MediaDate != null ? item.MediaDate.ToString("hh:mm tt") : string.Empty;

                string hilightedText = string.Empty;
                if (!string.IsNullOrEmpty(item.HighlightingText))
                {
                    item.HighlightingText = item.HighlightingText.Replace("&lt;", "<").Replace("&gt;", ">");
                    hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
                    hilightedText = XmlToHtmlTransform.Transform.ProcessHighlightingText(item.HighlightingText, hilightedText);
                }

    <tr>
		<td style="border-top:1pt solid black; padding-bottom:10px;">
			<table style="width: 100%;">
				<tr>
					<td id="mediaEntry" style="padding-top: 5px; padding-bottom: 10px;">
						<table style="width: 100%;">
							<tr>
								<td id="mediaDate" style="width: 65px;text-align: left;vertical-align: top;">
									<table style="width: 100%;border-collapse: collapse;border-spacing: 0;">
										<tr>
											<td id="post-date" style="width: 65px;height: auto;padding-bottom: 6px;">
												<table style="width: 100%">
													<tr>
														<td id="month" style="font-size: 18px;text-transform: uppercase;display: block;font-weight: normal;padding: 0px;color: #cc2900;text-align: center;">@Month</td>
													</tr>
													<tr>
														<td id="day" style="font-size: 30px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Day</td>
													</tr>
													<tr>
														<td id="time" style="font-size: 11px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Time</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaTypeLogo" style="width: 40px;min-height: 32px;float: center;vertical-align: top;" align="center">
                                    <img style="width: 25px;" src="@(Model.ImageBaseUrl)/MediaIcon/print-media.png" alt="print media" />
                                </td>
                                <td id="mediaBody" style="text-align: left;vertical-align: top;width: 545px;">
									<table style="width: 100%;">
										<tr>
											<td id="mediaTitle" style="text-align: left;height: 20px;font-size: 17px;">
												<a style="color: #598ea2;font-weight: bold;text-decoration: none;font-size: 16px;" href="@(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["IQArchieve_PMBaseUrl"]) + item.FileLocation.Replace(@"\", @"/"))">
                                                    @Raw(@System.Net.WebUtility.HtmlDecode(item.Title))
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="mediaContent" style="text-align: left;height: auto;font-size: 13px;font-weight: normal;">
                                                <span>@Raw(@System.Net.WebUtility.HtmlDecode(hilightedText))</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="actionBar" style="font-size: 12px !important; ">
                    <td style="padding: 0px;font-size: 10px !important; line-height: 0px">
						<table cellspacing="0" cellpadding="0" style="height: 15px;">
                            <tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(item.Pub_Name))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@item.Pub_Name
									</td>
								}	
									</tr></table>
								</td>
								<td id="sentiment" style="width: 100px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tbody>
											<tr>
												<td><img src="@(Model.ImageBaseUrl)/abarSentiment.png" width="15" /></td>
												<td id="sentimentMain" style="background-color: #DEDEDE; color: #FFFFFF; float: right; height: 15px; width: 51px;text-align: center; padding: 0px !important; margin-left: 0px; margin-top: 0px;">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td id="detail" style="width: 180px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tr>
											<td>
												Circulation:
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
												@(string.Format("{0:n0}", item.Circulation))
											</td>
										</tr>
									</table>
								</td>
								<td id="detail" style="width: 180px;">
								</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

            }
        }
        if (request.TM != null && request.TM.TMNode != null && request.TM.TMNode.Count > 0)
        {
            List<XmlToHtmlTransform.TMNode> RDItems = request.TM.TMNode.OrderBy(a => a.GmtDate).Take(request.TM.NoOfDisplayItems).ToList();
              
    <tr>
        <td id="headerMedia" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
            <table width="100%">
                <tr>
                    <td id="alignTextLeft" style="text-align: left !important;"><span style="font-size: 12px;color: #333333;">Radio</span></td>
                    <td id="alignTextRight" style="text-align: right !important;"><a style="font-size: 12px;color: #333333;" href="@(request.SearchRequestUrl)#TM">See More</a></td>
                </tr>
            </table>
        </td>
    </tr> 
                
            foreach (var item in RDItems)
            {
                string Month = item.MediaDate != null ? item.MediaDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
                string Day = item.MediaDate != null ? item.MediaDate.Day.ToString() : string.Empty;
                string Time = item.MediaDate != null ? item.MediaDate.ToString("hh:mm tt") : string.Empty;

                string hilightedText = string.Empty;
                if (!string.IsNullOrEmpty(item.HighlightingText))
                {
                    item.HighlightingText = item.HighlightingText.Replace("&lt;", "<").Replace("&gt;", ">");
                    hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
                    hilightedText = XmlToHtmlTransform.Transform.ProcessHighlightingText(item.HighlightingText, hilightedText);
                }

    <tr>
		<td style="border-top:1pt solid black; padding-bottom:10px;">
			<table style="width: 100%;">
				<tr>
					<td id="mediaEntry" style="padding-top: 5px; padding-bottom: 10px;">
						<table style="width: 100%;">
							<tr>
								<td id="mediaDate" style="width: 65px;text-align: left;vertical-align: top;">
									<table style="width: 100%;border-collapse: collapse;border-spacing: 0;">
										<tr>
											<td id="post-date" style="width: 65px;height: auto;padding-bottom: 6px;">
												<table style="width: 100%">
													<tr>
														<td id="month" style="font-size: 18px;text-transform: uppercase;display: block;font-weight: normal;padding: 0px;color: #cc2900;text-align: center;">@Month</td>
													</tr>
													<tr>
														<td id="day" style="font-size: 30px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Day</td>
													</tr>
													<tr>
														<td id="time" style="font-size: 11px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Time</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaTypeLogo" style="width: 40px;min-height: 32px;float: center;vertical-align: top;" align="center">
                                    <img style="width: 25px;" src="@(Model.ImageBaseUrl)/MediaIcon/radio.png" alt="radio" />
                                </td>
                                <td id="mediaTVBody" style="text-align: left;vertical-align: top;width: 445px;">
									<table style="width: 100%;">
										<tr>
											<td id="mediaTitle" style="text-align: left;height: 20px;font-size: 17px;">
												<a style="color: #598ea2;font-weight: bold;text-decoration: none;font-size: 16px;" href="@item.TranscriptUrl">
                                                    @Raw(@System.Net.WebUtility.HtmlDecode(item.Title))
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="mediaContent" style="text-align: left;height: auto;font-size: 13px;font-weight: normal;">
                                                <span>@Raw(@System.Net.WebUtility.HtmlDecode(hilightedText))</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaVideo" style="align: right;vertical-align: middle;width: 100px;">
                                    <a href="@item.TranscriptUrl">
                                        <img width="50" height="auto" style="width: 50px;height:auto;" src="http://qav4.iqmediacorp.com/images/radioplay.png" alt="play"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="actionBar" style="font-size: 12px !important; ">
                    <td style="padding: 0px;font-size: 10px !important; line-height: 0px">
						<table cellspacing="0" cellpadding="0" style="height: 15px;">
                            <tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(item.Market))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@item.Market
									</td>
								}	
									</tr></table>
								</td>
								<td id="sentiment" style="width: 100px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tbody>
											<tr>
												<td><img src="@(Model.ImageBaseUrl)/abarSentiment.png" width="15" /></td>
												<td id="sentimentMain" style="background-color: #DEDEDE; color: #FFFFFF; float: right; height: 15px; width: 51px;text-align: center; padding: 0px !important; margin-left: 0px; margin-top: 0px;">
													<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
														<tbody>
															<tr>
																<td align="right" id="sentimentNegTD" style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White; overflow: hidden;">
																	<span id='sentimentNegSpan' style='width:@((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;background-color: #d8635d; color: #FFFFFF; float: right !important;line-height: 15px; overflow: hidden; padding: 0 !important;'>
                                                                        @(item.NegativeSentiment > 0 ? item.NegativeSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
																<td align="left" id="sentimentPosTD" style="width: 26px; padding:0px !important; float:right !important;">
																	<span id='sentimentPosSpan'  style='width:@((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;color: #FFFFFF; line-height: 15px; background-color: #c7d36a;overflow: hidden; padding: 0px ! important; float: left ! important;'>
                                                                        @(item.PositiveSentiment > 0 ? item.PositiveSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td id="detail" style="width: 180px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tr>
											<td>
												Market Rank:
											</td>
											<td style="padding-left: 10px; padding-right: 15px; font-family: 'Microsoft Sans Serif'; text-align: center;">
												@(string.Format("{0:n0}", item.DMARank))
											</td>
										</tr>
									</table>
								</td>
                                <td id="detail" style="width: 180px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

            }
        }
					
		if (request.PQ != null && request.PQ.PQNode != null && request.PQ.PQNode.Count > 0)
        {
			List<XmlToHtmlTransform.PQNode> PQItems = null;
						 
			if(Model.UseRollup)
			{
				PQItems = request.PQ.PQNode.Where(n=>!n.ParentID.HasValue).OrderBy(a => a.GmtDate).Take(request.PQ.NoOfDisplayItems).ToList();
			}
			else
			{
				PQItems = request.PQ.PQNode.OrderBy(a => a.GmtDate).Take(request.PQ.NoOfDisplayItems).ToList();
			}

	<tr>
		<td id="headerMedia" style="font-size: 14px !important;background-color: #E2E2E2;border: solid 1px #A0A0A0;height: 27px;">
			<table width="100%">
				<tr>
					<td id="alignTextLeft" style="text-align: left !important;"><span style="font-size: 12px;color: #333333;">Publications (text)</span></td>
					<td id="alignTextRight" style="text-align: right !important;"><a style="font-size: 12px;color: #333333;" href="@(request.SearchRequestUrl)#PQ">See More</a></td>
				</tr>
			</table>
		</td>
	</tr>
					
			foreach (var item in PQItems)
            {
				string Month = item.MediaDate != null ? item.MediaDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
				string Day = item.MediaDate != null ? item.MediaDate.Day.ToString() : string.Empty;
				string Time = item.MediaDate != null ? item.MediaDate.ToString("hh:mm tt") : string.Empty;

				string hilightedText = string.Empty;
				if (!string.IsNullOrEmpty(item.HighlightingText))
				{
					item.HighlightingText = item.HighlightingText.Replace("&lt;", "<").Replace("&gt;", ">");
					hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
					hilightedText = XmlToHtmlTransform.Transform.ProcessHighlightingText(item.HighlightingText, hilightedText);
				}
		
    <tr>
		<td style="border-top:1pt solid black; padding-bottom:10px;">
			<table style="width: 100%;">
				<tr>
					<td id="mediaEntry" style="padding-top: 5px; padding-bottom: 10px;">
						<table style="width: 100%;">
							<tr>
								<td id="mediaDate" style="width: 65px;text-align: left;vertical-align: top;">
									<table style="width: 100%;border-collapse: collapse;border-spacing: 0;">
										<tr>
											<td id="post-date" style="width: 65px;height: auto;padding-bottom: 6px;">
												<table style="width: 100%">
													<tr>
														<td id="month" style="font-size: 18px;text-transform: uppercase;display: block;font-weight: normal;padding: 0px;color: #cc2900;text-align: center;">@Month</td>
													</tr>
													<tr>
														<td id="day" style="font-size: 30px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Day</td>
													</tr>
													<tr>
														<td id="time" style="font-size: 11px;font-weight: normal;display: block;color: #666666;text-align: center;padding: 0px;">@Time</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="mediaTypeLogo" style="width: 40px;min-height: 32px;float: center;vertical-align: top;" align="center">
                                    <img style="width: 25px;" src="@(Model.ImageBaseUrl)/MediaIcon/print-media_T.png" alt="Publications (text)" />
                                </td>
                                <td id="mediaBody" style="text-align: left;vertical-align: top;width: 545px;">
									<table style="width: 100%;">
										<tr>
											<td id="mediaTitle" style="text-align: left;height: 20px;font-size: 17px;">
												<a style="color: #598ea2;font-weight: bold;text-decoration: none;font-size: 16px;" href='@(Model.SubDomainBaseUrl +"/PQArticle/?ID="+item.Url)'>
                                                    @Raw(@System.Net.WebUtility.HtmlDecode(item.Title))
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="mediaContent" style="text-align: left;height: auto;font-size: 13px;font-weight: normal;">
                                                <span>@Raw(@System.Net.WebUtility.HtmlDecode(hilightedText))</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="actionBar" style="font-size: 12px !important; ">
                    <td style="padding: 0px;font-size: 10px !important; line-height: 0px">
						<table cellspacing="0" cellpadding="0" style="height: 15px;">
                            <tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(item.Pub_Name))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png"" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@item.Pub_Name
									</td>
								}	
									</tr></table>
								</td>
								<td id="sentiment" style="width: 100px;">
									<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
										<tbody>
											<tr>
												<td><img src="@(Model.ImageBaseUrl)/abarSentiment.png" width="15" /></td>
												<td id="sentimentMain" style="background-color: #DEDEDE; color: #FFFFFF; float: right; height: 15px; width: 51px;text-align: center; padding: 0px !important; margin-left: 0px; margin-top: 0px;">
													<table cellspacing="0" cellpadding="0" style="height: 15px; text-align: center;">
														<tbody>
															<tr>
																<td align="right" id="sentimentNegTD" style="width: 26px; padding: 0px !important; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #ffffff; background-color: #DEDEDE; color: White; overflow: hidden;">
                                                                    <span id='sentimentNegSpan' style='width:@((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;background-color: #d8635d; color: #FFFFFF; float: right !important;line-height: 15px; overflow: hidden; padding: 0 !important;'>
                                                                        @(item.NegativeSentiment > 0 ? item.NegativeSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
																<td align="left" id="sentimentPosTD" style="width: 26px; padding:0px !important; float:right !important;">
                                                                    <span id='sentimentPosSpan'  style='width:@((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;color: #FFFFFF; line-height: 15px; background-color: #c7d36a;overflow: hidden; padding: 0px ! important; float: left ! important;'>
                                                                        @(item.PositiveSentiment > 0 ? item.PositiveSentiment.ToString() : string.Empty)
                                                                    </span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
                                <td id="detail" style="width: 180px;">
                                </td>
                                <td id="detail" style="width: 180px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

				    @if(Model.UseRollup && request.PQ != null && request.PQ.PQNode != null && request.PQ.PQNode.Count > 0 && request.PQ.PQNode.Where(c=>c.ParentID==item.MediaID).ToList().Count>0)
				    {
                <tr class="childRecord">
					<td>
						<table cellspacing="0" cellpadding="0" style="height: 15px;">

					    @foreach (var childPQ in request.PQ.PQNode.Where(c=>c.ParentID==item.MediaID).ToList())
					    {		
							<tr>
								<td id="filler" style="width: 35px;">
									&nbsp;
								</td>
								<td id="location" style="width: 150px;">
									 <table><tr>
								@if (!string.IsNullOrWhiteSpace(childPQ.Pub_Name))
								{
									 <td>
										<img src="@(Model.ImageBaseUrl)/abarLocation.png"" width="15" />
									 </td>                           
									 <td style="text-align: center;">
										@childPQ.Pub_Name
									</td>
								}	
									</tr></table>
								</td>
                                <td id="sentiment" style="width: 100px;" style="text-align: center;">
                                    @childPQ.MediaDate.ToString("MM/dd/yyyy hh:mm tt")
                                </td>
								<td id="detail" style="width: 180px;">
								</td>
								<td id="detail" style="width: 180px;">
								</td>
							</tr>
			    		}
						</table>
					</td>
				</tr>
			    	}
            </table>
        </td>
    </tr>
			}
		}
    }
}
</table>
}
</body>
</html>