@using IQMedia.Model;
@using IQMedia.Shared.Utility;
@using System.Configuration;
@model List<DiscoveryMediaResult>
@if (Model != null)
{
    try
    {
        SessionInformation sessionInformation = IQMedia.WebApplication.Utility.CommonFunctions.GetSessionInformation();
        string mediaIconFormat = "../images/MediaIcon/{0}?v=1.3";

        foreach (DiscoveryMediaResult item in Model)
        {
            string Month = item.Date != null ? item.Date.Value.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
            string Day = item.Date != null ? item.Date.Value.Day.ToString() : string.Empty;
            string Time = item.Date != null && item.MediumType != CommonFunctions.CategoryType.PQ ? item.Date.Value.ToString("hh:mm tt") : string.Empty;

            string body = string.Empty;
            if (!string.IsNullOrEmpty(item.Body))
            {
                if (item.MediumType != IQMedia.Shared.Utility.CommonFunctions.CategoryType.TW)
                {
                    body = item.Body.Length > 300 ? item.Body.Substring(0, 300) : item.Body;
                }
                else
                {
                    body = item.Body;
                }
                body = System.Text.RegularExpressions.Regex.Replace(body, "(</span(?!>)|</spa(?!n>)|</sp(?!an>)|</s(?!pan>)|</(?!span>))\\Z", "</span>");
            }

            body = CommonFunctions.ProcessHighlightingText(item.Body, body);
            //body = CommonFunctions.ProcessHighlightingText(item.Body, body);

            string hilightedText = string.Empty;
            /*if (!string.IsNullOrEmpty(item.HighlightingText))
            {
                hilightedText = item.HighlightingText.Length > 300 ? item.HighlightingText.Substring(0, 300) : item.HighlightingText;
                //hilightedText = System.Text.RegularExpressions.Regex.Replace(hilightedText, "(</span(?!>)|</spa(?!n>)|</sp(?!an>)|</s(?!pan>)|</(?!span>))\\Z", "</span>");
            }*/
            Uri aUri;
            string Publication = item.Publication;
            if (!string.IsNullOrWhiteSpace(item.Publication) && Uri.TryCreate(item.Publication, UriKind.Absolute, out aUri))
            {
                Publication = aUri.Host.Replace("www.", string.Empty);
            }

            switch (item.MediumType)
            {
                case IQMedia.Shared.Utility.CommonFunctions.CategoryType.TV:
                    string TVThumbUrl = Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["IQArchieve_TVThumbUrl"]);
                    TVThumbUrl += item.VideoGuid;
                    Month = item.LocalDateTime != null ? item.LocalDateTime.Value.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
                    Day = item.LocalDateTime != null ? item.LocalDateTime.Value.Day.ToString() : string.Empty;
                    Time = item.LocalDateTime != null ? item.LocalDateTime.Value.ToString("hh:mm tt") : string.Empty;
                
    <div class="media displayNone">
        <div class="tvFeedsDate">
            <div class="pull-left">
                <div class="post-date">
                    <span class="month">@Month</span><div>
                        <span class="today">@Day</span></div>
                    <span class="timeWithTimeZone">@Time @item.TimeZone</span>
                </div>
                <div align="center" class="network">
                    <img src="@String.Format(mediaIconFormat, "network-icon.png")" title="@CommonFunctions.GetEnumDescription(CommonFunctions.CategoryType.TV)" alt="" /></div>
            </div>
        </div>
        <div class="pull-left tvFeedsMarket">
            <div style="float: left">
                <div>
                    <img src="@item.StationLogo" alt="" /></div>
                @*<div class="tvMarketDiscovery">
                    @item.Market</div>*@
            </div>
        </div>
        <div class="tvFeedsContent">
            <div class="pull-left media-body tvFeedsDetail">
                <span class="media-heading">@item.Title</span>
                <div class="clearfix">
                </div>
                @if (!string.IsNullOrWhiteSpace(item.Market))
                {<span style="color: #73797F;">
                    @item.Market - </span> }
                @Html.Raw(@body)
            </div>
        </div>
        <div class="float-right tvFeedsThumbParent">
            <div class="float-left video-thumb-width tvFeedsThumb marginRight10">
                <div class="pull-left video-thumb-width width130">
                    <div class="positionRelative">
                        <a class="cursorPointer" onclick='LoadPlayerbyGuidTS("@item.VideoGuid",null,"@item.SearchTerm.Replace("\"", "\\\"")");'>
                            <img csrc="@TVThumbUrl" class="maxwidth130" alt="" /></a></div>
                </div>
                <div class="clearfix">
                </div>
            </div>
            <div class="float-right tvFeedsCheck">
                <input type="checkbox" id="ckhTV_@item.VideoGuid" value="@item.VideoGuid,TV" onclick="CheckUncheckMasterCheckBox(this,'divResult','chkInputAll');" />
            </div>
        </div>
        <div class="clear borderdiv">
            <div class="actionBarLeftDivNM float-left">
                <div style="width: 65px" class="float-left">
                    <div align="center" class="margintop2">
                    </div>
                </div>
                <div class="lineHeight15 float-left marginright35 actionBarsection" title="Sentiment">
                    <div class="float-right sentimentLeftFloat actionBarsection">
                        <div class="float-left">
                            <img src="../Images/thumbs-up.png" style="width: 13px; margin-top: -4px;"><img src="../Images/thumbs-down.png"
                                style="width: 13px; margin-top: 3px;">&nbsp;</div>
                        <div class="divSentimentMain sentimentFont">
                            <div class="divSentimentNeg">
                                <div style="width: @((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;">
                                    @item.NegativeSentiment</div>
                            </div>
                            <div class="divSentimentPos">
                                <div style="width: @((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;">
                                    @item.PositiveSentiment</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-left nmchild-tag margintop2">
                    <div class="NMvideo-tags-ParentChild margintop0 actionBarsection">
                        <div class="view">@(item.Audience > 0 && sessionInformation.IsNielsenData ? String.Format("{0:N0}", item.Audience) : string.Empty)</div>
                    </div>
                    <div class="NMvideo-tags-ParentChild margintop0 actionBarsection">
                        <div class="price">@(item.IQAdsharevalue > 0 && sessionInformation.IsNielsenData ? String.Format("{0:N2}", item.IQAdsharevalue) + " " + item.Nielsen_Result : string.Empty)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    break;
                case IQMedia.Shared.Utility.CommonFunctions.CategoryType.TW:
                                 
                        
    <div class="media displayNone">
        <div class="pull-left">
            <div class="post-date">
                <span class="month">@Month</span><div>
                    <span class="today">@Day</span></div>
                <span class="timeWithTimeZone">@Time @sessionInformation.TimeZone </span>
            </div>
            <div align="center" class="network">
                <img src="@String.Format(mediaIconFormat, "twitter.png")" title="@CommonFunctions.GetEnumDescription(CommonFunctions.CategoryType.TW)" alt="" />
            </div>
        </div>
        <div class="pull-left TweetBodyDivIQP borderBoxSizing">
            <div class="pull-left TweetActorDisplayName">
                @{
                    if (string.IsNullOrWhiteSpace(item.TwitterActorLink) || item.TwitterTweetID <= 0)
                    {
                        <a target="_blank"><span>@item.TwitterDisplayName</span> </a>
                    }
                    else
                    {
                        <a target="_blank" href="@item.TwitterActorLink/status/@item.TwitterTweetID"><span>@item.TwitterDisplayName</span>
                        </a>
                   }
                }
                <span class="TweetSubdivFont"></span><span class="TweetSubdivFont">@item.TwitterPrefferedName</span><br />
            </div>
            <div class="clear PaddingTopBottom1p TweetBodyText">
                <div class="">
                    <span>@Html.Raw(body)</span>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="pull-left">
                <img csrc="@item.TwitterUserURL" class="borderWidth0 maxWidth48" alt="" /><br />
            </div>
            <input type="checkbox" id="ckhTW_@item.ArticleID" value="@item.ArticleID,TW" onclick="CheckUncheckMasterCheckBox(this,'divResult','chkInputAll');" />
        </div>
        <div class="clear borderdiv">
            <div class="actionBarLeftDiv float-left marginleft62">
                <div class="lineHeight15 float-left marginright35 actionBarsection" title="Sentiment">
                    <div class="float-right sentimentLeftFloat actionBarsection">
                        <div class="float-left">
                            <img src="../Images/thumbs-up.png" style="width: 13px; margin-top: -4px;"><img src="../Images/thumbs-down.png"
                                style="width: 13px; margin-top: 3px;">&nbsp;</div>
                        <div class="divSentimentMain sentimentFont">
                            <div class="divSentimentNeg">
                                <div style="width: @((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;">
                                    @item.NegativeSentiment</div>
                            </div>
                            <div class="divSentimentPos">
                                <div style="width: @((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;">
                                    @item.PositiveSentiment</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-left marginright35 actionBarsection">
                    <div class="klout margintop2" title="Klout Score">@String.Format("{0:n0}", @item.TwitterKLOutScore)</div>
                </div>
                <div class="float-left marginright35 actionBarsection">
                    <div class="followers margintop2" title="Followers">@String.Format("{0:n0}", @item.TwitterFollowers)</div>
                </div>
                <div class="float-left marginright35 actionBarsection">
                    <div class="following margintop2" title="Following">@String.Format("{0:n0}", @item.TwitterFriends)</div>
                </div>
            </div>
            <div class="marginright35 float-right minWidth52IE8">
                <div class="margintop3">
                    <a onclick="javascript:void(0);" rel="popover" class="cursorPointer">
                        <img title="Save Tweet" alt="Save Tweet" src="~/images/save.png" onclick="ShowSaveArticleDiscovery('@item.ArticleID',this.id,'TW','@item.SearchTerm.Replace("\"", "\\\"").Replace("'","\\'")');return false;" id="aSaveTW_@item.ArticleID" /></a></div>
            </div>
        </div>
    </div>
                    break;                 
                case IQMedia.Shared.Utility.CommonFunctions.CategoryType.NM:                               
                        
    <div class="media displayNone">
        <div class="pull-left">
            <div class="post-date">
                <span class="month">@Month</span><div>
                    <span class="today">@Day</span></div>
                <span class="timeWithTimeZone">@Time @sessionInformation.TimeZone</span></div>
            <div align="center" class="network">
                <img src="@String.Format(mediaIconFormat, "news.png")" title="@CommonFunctions.GetEnumDescription(CommonFunctions.CategoryType.NM)" alt="" /></div>
        </div>
        <div class="pull-left maxWidth83">
            <div>
                <span class="media-heading">
                    @if (item.IQLicense == 3)
                    {
                        <img src="@String.Format(mediaIconFormat, "LexisNexis_Small.png")" title="LexisNexis(R)" alt="LexisNexis(R)" class="lexisNexisImg" />
                    }
                    <a href="@(item.IQLicense > 0 ? Url.Action("Index", "Article",
                                                    new
                                                    {
                                                        au =
                                                          IQMedia.Shared.Utility.CommonFunctions.EncryptLicenseStringAES
                                                          (
                                                              sessionInformation.CustomerKey + "¶Discovery¶" + item.ArticleURL + "&u1=cliq40&u2=" + sessionInformation.ClientID + "¶" + item.IQLicense
                                                          )
                                                    }
                                                     ) : item.ArticleURL)"
                                                target="_blank">@item.Title</a></span>
            </div>
            <div class="newsMediadiv">
                @if (!string.IsNullOrWhiteSpace(Publication))
                {
                    <span style="color: #73797F;">
                        @Publication - </span>
                }
                @Html.Raw(body)
            </div>
        </div>
        <div class="pull-right">
            <input type="checkbox" id="ckhNM_@item.ArticleID" value="@item.ArticleID,NM" onclick="CheckUncheckMasterCheckBox(this,'divResult','chkInputAll');" />
        </div>
        <div class="clear borderdiv">
            <div class="actionBarLeftDivNM float-left">
                <div style="width: 65px" class="float-left">
                    <div align="center" class="margintop2">
                    </div>
                </div>
                <div class="lineHeight15 float-left marginright35 actionBarsection" title="Sentiment">
                    <div class="float-right sentimentLeftFloat actionBarsection">
                        <div class="float-left">
                            <img src="../Images/thumbs-up.png" style="width: 13px; margin-top: -4px;"><img src="../Images/thumbs-down.png"
                                style="width: 13px; margin-top: 3px;">&nbsp;</div>
                        <div class="divSentimentMain sentimentFont">
                            <div class="divSentimentNeg">
                                <div style="width: @((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;">
                                    @item.NegativeSentiment</div>
                            </div>
                            <div class="divSentimentPos">
                                <div style="width: @((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;">
                                    @item.PositiveSentiment</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-left nmchild-tag margintop2">
                <div class="NMvideo-tags-ParentChild margintop0 actionBarsection">
                    <div class="view" title="Audience">
                        @if (sessionInformation.IsCompeteData)
                        {
                            @(item.Audience > 0 ? String.Format("{0:N0}", item.Audience) : string.Empty)
                            if (!string.IsNullOrEmpty(@item.CompeteImage))
                            {                   
                            <img title="Powered by Compete" class="" alt="" style="width: 14px" src="../Images/compete.png" />
                            }

                        }
                    </div>
                </div>
                <div class="NMvideo-tags-ParentChild margintop0 actionBarsection">
                    <div class="price">@(item.IQAdsharevalue > 0 && sessionInformation.IsCompeteData ? String.Format("{0:N2}", item.IQAdsharevalue) : string.Empty)</div>
                </div>
                </div>
            </div>
            <div class="marginright35 float-right minWidth52IE8">
                <div class="margintop3">
                    <a onclick="javascript:void(0);return false;" class="cursorPointer saveMedia" target="_blank">
                        <img title="Save Article" alt="Save" src="~/images/save.png" onclick="ShowSaveArticleDiscovery('@item.ArticleID',this.id,'NM','@item.SearchTerm.Replace("\"", "\\\"").Replace("'", "\\'")');return false;" id="aSaveNM_@item.ArticleID" /></a><a
                            target="_blank" href="@(item.IQLicense > 0 ? Url.Action("Index", "Article",
                                            new
                                            {
                                                au = IQMedia.Shared.Utility.CommonFunctions.EncryptLicenseStringAES(
                                                  sessionInformation.CustomerKey + "¶Discovery¶" + item.ArticleURL + "&u1=cliq40&u2=" + sessionInformation.ClientID + "¶" + item.IQLicense)
                                            }
                                               ) : item.ArticleURL)" class="paddinLeft20"><img title="View Article" alt="View" src="~/images/viewArticle.png" /></a></div>
            </div>
        </div>
    </div>
                    break;
                case IQMedia.Shared.Utility.CommonFunctions.CategoryType.SocialMedia:
                                 
    <div class="media displayNone">
        <div class="pull-left">
            <div class="post-date">
                <span class="month">@Month</span><div>
                    <span class="today">@Day</span></div>
                <span class="timeWithTimeZone">@Time @sessionInformation.TimeZone</span></div>
            <div align="center" class="network">
                <img src="@String.Format(mediaIconFormat, "social-media.png")" title="@CommonFunctions.GetEnumDescription(CommonFunctions.CategoryType.SocialMedia)" alt="" /></div>
        </div>
        <div class="pull-left maxWidth83">
            <div>
                <span class="media-heading"><a href="@item.ArticleURL" target="_blank">@item.Title</a></span>
            </div>
            <div class="newsMediadiv">
                @if (!string.IsNullOrWhiteSpace(Publication))
                {
                    <span style="color: #73797F;">
                        @Publication - </span>
                }@Html.Raw(body)
            </div>
        </div>
        <div class="pull-right">
            <input type="checkbox" id="ckhSM_@item.ArticleID" value="@item.ArticleID,SM" onclick="CheckUncheckMasterCheckBox(this,'divResult','chkInputAll');" />
        </div>
        <div class="clear borderdiv">
            <div class="actionBarLeftDivNM float-left">
                <div style="width: 65px" class="float-left">
                    <div align="center" class="margintop2">
                    </div>
                </div>
                <div class="lineHeight15 float-left marginright35 actionBarsection" title="Sentiment">
                    <div class="float-right sentimentLeftFloat actionBarsection">
                        <div class="float-left">
                            <img src="../Images/thumbs-up.png" style="width: 13px; margin-top: -4px;"><img src="../Images/thumbs-down.png"
                                style="width: 13px; margin-top: 3px;">&nbsp;</div>
                        <div class="divSentimentMain sentimentFont">
                            <div class="divSentimentNeg">
                                <div style="width: @((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;">
                                    @item.NegativeSentiment</div>
                            </div>
                            <div class="divSentimentPos">
                                <div style="width: @((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;">
                                    @item.PositiveSentiment</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marginright35 float-right minWidth52IE8">
                <div class="margintop3">
                    <a onclick="javascript:void(0);return false;" class="cursorPointer saveMedia" target="_blank">
                        <img title="Save Article" alt="Save" src="~/images/save.png" onclick="ShowSaveArticleDiscovery('@item.ArticleID',this.id,'SocialMedia','@item.SearchTerm.Replace("\"", "\\\"").Replace("'", "\\'")');return false;" id="aSaveSM_@item.ArticleID" /></a><a target="_blank"
                            href="@item.ArticleURL" class="paddinLeft20"><img title="View Article" alt="View"
                                src="~/images/viewArticle.png" /></a></div>
            </div>
        </div>
    </div>
                    break;
                case IQMedia.Shared.Utility.CommonFunctions.CategoryType.Forum:           
                        
    <div class="media displayNone">
        <div class="pull-left">
            <div class="post-date">
                <span class="month">@Month</span><div>
                    <span class="today">@Day</span></div>
                <span class="timeWithTimeZone">@Time @sessionInformation.TimeZone</span></div>
            <div align="center" class="network">
                <img src="@String.Format(mediaIconFormat, "forum.png")" title="@CommonFunctions.GetEnumDescription(CommonFunctions.CategoryType.Forum)" alt="" /></div>
        </div>
        <div class="pull-left maxWidth83">
            <div>
                <span class="media-heading"><a href="@item.ArticleURL" target="_blank">@item.Title</a></span>
            </div>
            <div class="newsMediadiv">
                @if (!string.IsNullOrWhiteSpace(Publication))
                {
                    <span style="color: #73797F;">
                        @Publication - </span>
                }@Html.Raw(body)
            </div>
        </div>
        <div class="pull-right">
            <input type="checkbox" id="ckhSM_@item.ArticleID" value="@item.ArticleID,SM"  onclick="CheckUncheckMasterCheckBox(this,'divResult','chkInputAll');" />
        </div>
        <div class="clear borderdiv">
            <div class="actionBarLeftDivNM float-left">
                <div style="width: 65px" class="float-left">
                    <div align="center" class="margintop2">
                    </div>
                </div>
                <div class="lineHeight15 float-left marginright35 actionBarsection" title="Sentiment">
                    <div class="float-right sentimentLeftFloat actionBarsection">
                        <div class="float-left">
                            <img src="../Images/thumbs-up.png" style="width: 13px; margin-top: -4px;"><img src="../Images/thumbs-down.png"
                                style="width: 13px; margin-top: 3px;">&nbsp;</div>
                        <div class="divSentimentMain sentimentFont">
                            <div class="divSentimentNeg">
                                <div style="width: @((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;">
                                    @item.NegativeSentiment</div>
                            </div>
                            <div class="divSentimentPos">
                                <div style="width: @((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;">
                                    @item.PositiveSentiment</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marginright35 float-right minWidth52IE8">
                <div class="margintop3">
                    <a onclick="javascript:void(0);return false;" class="cursorPointer saveMedia" target="_blank">
                        <img title="Save Article" alt="Save" src="~/images/save.png" onclick="ShowSaveArticleDiscovery('@item.ArticleID',this.id,'Forum','@item.SearchTerm.Replace("\"", "\\\"").Replace("'", "\\'")');return false;" id="aSaveForum_@item.ArticleID" /></a><a target="_blank"
                            href="@item.ArticleURL" class="paddinLeft20"><img title="View Article" alt="View"
                                src="~/images/viewArticle.png" /></a></div>
            </div>
        </div>
    </div>
                    break;
                case IQMedia.Shared.Utility.CommonFunctions.CategoryType.Blog:
                        
    <div class="media displayNone">
        <div class="pull-left">
            <div class="post-date">
                <span class="month">@Month</span><div>
                    <span class="today">@Day</span></div>
                <span class="timeWithTimeZone">@Time @sessionInformation.TimeZone</span></div>
            <div align="center" class="network">
                <img src="@String.Format(mediaIconFormat, "blog.png")" title="@CommonFunctions.GetEnumDescription(CommonFunctions.CategoryType.Blog)" alt="" /></div>
        </div>
        <div class="pull-left maxWidth83">
            <div>
                <span class="media-heading"><a href="@item.ArticleURL" target="_blank">@item.Title</a></span>
            </div>
            <div class="newsMediadiv">
                @if (!string.IsNullOrWhiteSpace(Publication))
                {
                    <span style="color: #73797F;">
                        @Publication - </span>
                }@Html.Raw(body)
            </div>
        </div>
        <div class="pull-right">
            <input type="checkbox" id="ckhSM_@item.ArticleID" value="@item.ArticleID,SM" onclick="CheckUncheckMasterCheckBox(this,'divResult','chkInputAll');" />
        </div>
        <div class="clear borderdiv">
            <div class="actionBarLeftDivNM float-left">
                <div style="width: 65px" class="float-left">
                    <div align="center" class="margintop2">
                    </div>
                </div>
                <div class="lineHeight15 float-left marginright35 actionBarsection" title="Sentiment">
                    <div class="float-right sentimentLeftFloat actionBarsection">
                        <div class="float-left">
                            <img src="../Images/thumbs-up.png" style="width: 13px; margin-top: -4px;"><img src="../Images/thumbs-down.png"
                                style="width: 13px; margin-top: 3px;">&nbsp;</div>
                        <div class="divSentimentMain sentimentFont">
                            <div class="divSentimentNeg">
                                <div style="width: @((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;">
                                    @item.NegativeSentiment</div>
                            </div>
                            <div class="divSentimentPos">
                                <div style="width: @((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;">
                                    @item.PositiveSentiment</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-left nmchild-tag margintop2">
                <div class="NMvideo-tags-ParentChild margintop0 actionBarsection">
                    <div class="view" title="Audience">
                        @if (sessionInformation.IsCompeteData)
                        {
                            @(item.Audience > 0 ? String.Format("{0:N0}", item.Audience) : string.Empty)
                            if (!string.IsNullOrEmpty(@item.CompeteImage))
                            {
                            <img title="Powered by Compete" class="" alt="" style="width: 14px" src="../Images/compete.png" />
                            }

                        }
                    </div>
                </div>
                <div class="NMvideo-tags-ParentChild margintop0 actionBarsection">
                    <div class="price">
                        @(item.IQAdsharevalue > 0 && sessionInformation.IsCompeteData ? String.Format("{0:N2}", item.IQAdsharevalue) : string.Empty)</div>
                </div>
                </div>
            </div>
            <div class="marginright35 float-right minWidth52IE8">
                <div class="margintop3">
                    <a onclick="javascript:void(0);return false;" class="cursorPointer saveMedia" target="_blank">
                        <img title="Save Article" alt="Save" src="~/images/save.png" onclick="ShowSaveArticleDiscovery('@item.ArticleID',this.id,'Blog','@item.SearchTerm.Replace("\"", "\\\"").Replace("'", "\\'")');return false;" id="aSaveBlog_@item.ArticleID" /></a><a target="_blank"
                            href="@item.ArticleURL" class="paddinLeft20"><img title="View Article" alt="View"
                                src="~/images/viewArticle.png" /></a></div>
            </div>
        </div>
    </div>
                    break;
                case IQMedia.Shared.Utility.CommonFunctions.CategoryType.PQ:
                    string authors = !String.IsNullOrEmpty(item.ProQuestAuthors) ? "(" + item.ProQuestAuthors + ") " : String.Empty;
                    
    <div class="media displayNone">
        <div class="pull-left">
            <div class="post-date">
                <span class="month">@Month</span><div>
                    <span class="today">@Day</span></div>
                <span class="timeWithTimeZone">&nbsp;</span></div>
            <div align="center" class="network">
                <img src="@String.Format(mediaIconFormat, "print-media_T.png")" title="@CommonFunctions.GetEnumDescription(CommonFunctions.CategoryType.PQ)" alt="" /></div>
        </div>
        <div class="pull-left maxWidth83">
            <div>
                <span class="media-heading"><a onclick="ShowViewArticleDiscovery('@item.ArticleID');return false;" class="cursorPointer" target="_blank">@item.Title</a></span>
            </div>
            <div class="newsMediadiv">
                @if (!string.IsNullOrWhiteSpace(Publication))
                {
                    <span style="color: #73797F;">
                        @Publication @(authors)- </span>
                }@Html.Raw(body)
            </div>
        </div>
        <div class="pull-right">
            <input type="checkbox" id="ckhPQ_@item.ArticleID" value="@item.ArticleID,PQ" onclick="CheckUncheckMasterCheckBox(this,'divResult','chkInputAll');" />
        </div>
        <div class="clear borderdiv">
            <div class="actionBarLeftDivNM float-left">
                <div style="width: 65px" class="float-left">
                    <div align="center" class="margintop2">
                    </div>
                </div>
                <div class="lineHeight15 float-left marginright35 actionBarsection" title="Sentiment">
                    <div class="float-right sentimentLeftFloat actionBarsection">
                        <div class="float-left">
                            <img src="../Images/thumbs-up.png" style="width: 13px; margin-top: -4px;"><img src="../Images/thumbs-down.png"
                                style="width: 13px; margin-top: 3px;">&nbsp;</div>
                        <div class="divSentimentMain sentimentFont">
                            <div class="divSentimentNeg">
                                <div style="width: @((item.NegativeSentiment * 6) > 25 ? 25 : (item.NegativeSentiment * 6))px;">
                                    @item.NegativeSentiment</div>
                            </div>
                            <div class="divSentimentPos">
                                <div style="width: @((item.PositiveSentiment * 6) > 25 ? 25 : (item.PositiveSentiment * 6))px;">
                                    @item.PositiveSentiment</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marginright35 float-right minWidth52IE8">
                <div class="margintop3">
                    <a onclick="javascript:void(0);return false;" class="cursorPointer saveMedia" target="_blank">
                        <img title="Save Article" alt="Save" src="~/images/save.png" onclick="ShowSaveArticleDiscovery('@item.ArticleID',this.id,'PQ','@item.SearchTerm.Replace("\"", "\\\"").Replace("'", "\\'")');return false;" id="aSavePQ_@item.ArticleID" />
                    </a>
                    <a onclick="javascript:void(0);return false;" class="cursorPointer paddinLeft20" target="_blank">
                        <img title="View Article" alt="View" src="~/images/viewArticle.png" onclick="ShowViewArticleDiscovery('@item.ArticleID');return false;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
                    break;
            }
        }
    }
    catch (Exception ex)
    {
        Log4NetLogger.Error("error parsing results ", ex);
        throw;
    }
}
